// @Author: Allen C <chenillen>
// @Date:   2018-07-10T10:26:44+08:00
// @Email:  chenillen@gmail.com
// @Last modified by:   chenillen
// @Last modified time: 2018-07-11T09:56:47+08:00
// @Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.

@at-root {
  @-ms-viewport {
    width: device-width;
  } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
