// @Author: Allen C <chenillen>
// @Date:   2018-07-10T23:40:02+08:00
// @Email:  chenillen@gmail.com
// @Last modified by:   chenillen
// @Last modified time: 2018-08-11T12:52:58+08:00
// @Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.

@import "variables";

.btn {
  display: inline-block;
  width: auto;
  height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  color: $gray-800;
  border-radius: 22px;
  background-color: $white;
  padding: 0 36px;
  outline: none;

  &:hover,
  &:active,
  &:focus,
  &.visited {
    outline: none;
  }

  &.outline {
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: $white;
      color: $gray-800;
    }
  }
}
