<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T10:59:37+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-11T23:26:10+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="camp">
  <div class="header-bg">
    <div class="container">
      <h2 class="logo-title">幕后圈课堂</h2>
      <h3 class="text-title">混音训练营</h3>
      <p class="slogan">为混音师的职业发展助力</p>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <div class="target-container">
        <div class="target-item">
          <div class="target-image _01"></div>
          <p class="target-description">想提升专业水平的混音师</p>
        </div>
        <div class="target-item">
          <div class="target-image _02"></div>
          <p class="target-description">有志成为制作人的独立音乐人</p>
        </div>
        <div class="target-item">
          <div class="target-image _03"></div>
          <p class="target-description">有一定混音基础的音乐爱好者</p>
        </div>
      </div>
    </div>
  </div>
  <div class="intro class-content">
    <div class="container">
      <h3 class="intro-title">课程内容</h3>
      <p class="intro-description col-md-6 offset-md-3">浓缩版「进阶式混音班」，在4天课程中实际操作混音工程，全天练习、高强度实战，在实践中掌握理论知识。不同风格的混音工程将为学员提供由浅至深的混音训练，做到全面、系统、深入的学习</p>

      <div class="class-table">
        <dt class="class-header">
          <dd class="class-title hide">时间安排</dd>
          <dd class="class-title"><span class="title-circled">上午9:00-12:00</span></dd>
          <dd class="class-title"><span class="title-circled">下午14:00-17:00</span></dd>
        </dt>
        <dt class="class-row">
          <dd class="class-time"><span class="circled">DAY1</span></dd>
          <dd class="class-content">混音基本概念巩固<br />效果器深度剖析</dd>
          <dd class="class-content">民谣作品混音实践<br />学员作品点评</dd>
        </dt>
        <dt class="class-row">
          <dd class="class-time"><span class="circled">DAY2</span></dd>
          <dd class="class-content">声学基础知识巩固<br />效果器深度剖析</dd>
          <dd class="class-content">贴唱作品混音实践<br />学员作品点评</dd>
        </dt>
        <dt class="class-row">
          <dd class="class-time"><span class="circled">DAY3</span></dd>
          <dd class="class-content">混音流程规范详解<br />人声处理技巧详解</dd>
          <dd class="class-content">摇滚作品混音实践<br />学员作品点评</dd>
        </dt>
        <dt class="class-row">
          <dd class="class-time"><span class="circled">DAY4</span></dd>
          <dd class="class-content">流行作品混音实践<br />学员作品点评</dd>
          <dd class="class-content">结业考试<br />考试点评、总结讨论</dd>
        </dt>
      </div>
    </div>
  </div>

  <Ding :fluid="true" />

  <div class="intro class-addr">
    <div class="container">
      <p class="intro-description">混音训练营将在全国多个主要城市巡回开展</p>
    </div>
  </div>
  <div class="footer-bg"></div>
</div>
</template>

<script>
import Ding from '../../components/Ding.vue';

export default {
  name: 'camp',
  components: {
    Ding,
  },
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.camp {
  background-color: #070B18;
  .header-bg {
    background: url("../../assets/images/edu/camp/header_bg.png") no-repeat center center;
    width: 100%;
    height: 874px;
    background-size: auto 874 px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

    .logo-title {
        background: url("../../assets/images/edu/mixing/logo_title.png") no-repeat scroll;
        width: 365px;
        height: 67px;
        background-size: cover;
        @include text-hide();
        margin: 0 auto 70px;
    }

    .text-title {
        font-size: 42px;
        text-align: center;
        color: $white;
    }

    .slogan {
        font-size: 18px;
        color: transparentize($white, 0.2);
        text-align: center;
        margin-bottom: 70px;
    }

    .intro-gradient {
      display: block;
      width: 140px;
      color: $purple;
      margin: 0 auto 16px;

      &:hover {
        box-shadow: 0 2px 16px rgba($black, .55);
        text-decoration: none;
      }
    }

    .desc {
      font-size: 14px;
      color: $white;
      text-align: center;
    }
  }

  .footer-bg {
    background: url("../../assets/images/edu/mixing/footer_bg.png") no-repeat center center;
    width: 100%;
    height: 936px;
    background-size: auto 936px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

}

.intro {
  .target-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #0F1321;
    margin-bottom: 105px;

    .target-item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 66px 50px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 80%;
        background-color: #080C19;
        top: 50%;
        left: 0;
        margin-top: -40%;
      }

      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 80%;
        background-color: #070B18;
        top: 50%;
        right: 0;
        margin-top: -40%;
      }

      &:first-child {
        &:before {
          content: none;
        }
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      .target-image {
        width: 120px;
        height: 120px;
        margin-bottom: 40px;

        &._01 {
          background: url("../../assets/images/edu/camp/target_01.png") no-repeat scroll center center;
          background-size: 102px auto;
        }

        &._02 {
          background: url("../../assets/images/edu/camp/target_02.png") no-repeat scroll center center;
          background-size: 111px auto;
        }

        &._03 {
          background: url("../../assets/images/edu/camp/target_03.png") no-repeat scroll center center;
          background-size: 109px auto;
        }
      }

      .target-description {
        font-size: 22px;
        color: $white;
        text-align: center;
      }

    }
  }

  &.class-content {
    margin-bottom: 210px;

    .intro-title {
      text-align: center;
      color: $white;
      margin-bottom: 60px;

      &:after {
        @include gradient-directional($purple, $magenta);
        left: 50%;
        margin-left: -32px;
      }
    }

    .intro-description {
      text-align: center;
      margin-bottom: 80px;
      font-size: 16px;
      color: transparentize($gray-200, 0.2);
    }

    .class-table {
      width: 100%;
      padding: 30px 72px;
      background-color: #0F1321;
      border: 1px solid #1D243E;
      border-radius: 10px;
      color: $white;
      margin-bottom: 210px;

      .class-header {
        height: 96px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #1D243E;

        .class-title {
          width: 40%;
          padding: 0 20px;

          &.hide {
            @include text-hide;
            width: 20%;
          }

          .title-circled {
            font-size: 18px;
            color: $white;
            border: 1px solid $purple;
            height: 40px;
            line-height: 40px;
            width: 192px;
            display: inline-block;
            text-align: center;
            border-radius: 40px;
          }
        }
      }

      .class-row {
        height: 116px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #1D243E;

        &:last-child {
          border-bottom: none;
        }

        .class-time {
          width: 20%;
          text-align: center;

          .circled {
            width: 66px;
            height: 66px;
            border-radius: 100%;
            border: 1px solid $purple;
            display: inline-block;
            line-height: 66px;
          }
        }

        .class-content {
          width: 40%;
          padding: 0 20px;
          line-height: 20px;
          font-size: 16px;
          color: $white;
        }
      }
    }
  }
}
</style>
