<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T11:02:36+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-15T22:39:57+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="dkjt">
  <div class="header-bg">
    <div class="container">
      <h2 class="logo-title">幕后圈课堂</h2>
      <h3 class="text-title">大咖讲堂</h3>
      <p class="slogan">幕后音乐大咖 · 高端音乐讲座</p>
    </div>
  </div>
  <div class="intro director">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/images/edu/dkjt/teacher.png" class="director-image" width="100%">
        </div>
        <div class="col-md-8 director-content">
          <h4 class="director-name">主讲导师-瑞业</h4>
          <div class="director-tags">
            <span class="tag">金牌作词人</span>
          </div>
          <p class="director-description">
            马来西亚著名作词人，立刻音乐版权公司董事经理。 <br>
            梁静茹《勇气》、王力宏《你不知道的事》、徐若瑄《爱笑的眼睛》、郁可唯《微加幸福》、无印良品《想见你》等金曲作词人。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="intro segment">
    <div class="container">
      <h3 class="intro-title">讲堂环节</h3>
      <div class="segments row">
        <div class="segment-container col-md-4">
          <h4 class="segment-number">PART01</h4>
          <ol class="segment-list">
            <li>词人瑞业心得、经历及灵感来源</li>
            <li>写词方法和技巧</li>
            <li>如何平衡商业化需求和个人写作特点</li>
            <li>词人的必要职业规划</li>
          </ol>
        </div>
        <div class="segment-container col-md-4">
          <h4 class="segment-number">PART02</h4>
          <ol class="segment-list">
            <li>什么样的作者和歌词最受喜爱</li>
            <li>「好」的流行歌词中有哪些必备元素</li>
            <li>创作人如何紧跟时代潮流和市场需要</li>
            <li>创作人的必修版权知识</li>
          </ol>
        </div>
        <div class="segment-container col-md-4">
          <h4 class="segment-number">PART03</h4>
          <ol class="segment-list">
            <li>现场创作</li>
            <li>瑞业老师分析指导作品</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="intro lectures">
    <div class="container">
      <h3 class="intro-title">{{previousLectures.title}}</h3>
      <ul class="row lecture-menu-container">
        <li class="lecture-menu-item col-3" v-for="lecture in previousLectures.list" :key="lecture.index" :class="previousLectures.currentList === lecture.name ? 'current' : ''" @click.prevent="switchTab(lecture.name)">
          <a href="#">{{lecture.name}}</a>
        </li>
      </ul>
      <div class="images-container" v-for="lecture in previousLectures.list" :key="lecture.index" v-if="previousLectures.currentList === lecture.name">
        <img :src="image" class="lecture-image" width="auto" height="328" v-for="image in lecture.images" :key="image.index">
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'dkjt',
  data() {
    return {
      previousLectures: {
        title: '往期讲堂',
        currentList: '01期 · 郑楠',
        list: [
          {
            name: '01期 · 郑楠',
            images: [
              require('../../assets/images/edu/dkjt/lecture_01_01.png'),
              require('../../assets/images/edu/dkjt/lecture_01_02.jpg'),
              require('../../assets/images/edu/dkjt/lecture_01_03.jpg'),
              require('../../assets/images/edu/dkjt/lecture_01_04.jpg'),
            ],
          },
          {
            name: '02期 · 瑞业',
            images: [
              require('../../assets/images/edu/dkjt/lecture_02_01.png'),
              require('../../assets/images/edu/dkjt/lecture_02_02.png'),
              require('../../assets/images/edu/dkjt/lecture_02_03.png'),
              require('../../assets/images/edu/dkjt/lecture_02_04.png'),
            ],
          },
        ],
      },
    };
  },
  methods: {
    switchTab(listName) {
      this.previousLectures.currentList = listName;
    },
  },
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.dkjt {
  background-color: #070B18;
  .header-bg {
    background: url("../../assets/images/edu/dkjt/header_bg.png") no-repeat center center;
    width: 100%;
    height: 890px;
    background-size: auto 890px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
  }

  .logo-title {
    background: url("../../assets/images/edu/mixing/logo_title.png") no-repeat scroll;
    width: 365px;
    height: 67px;
    background-size: cover;
    @include text-hide();
    margin: 0 auto 40px;
  }

  .text-title {
      font-size: 42px;
      text-align: center;
      color: $white;
  }

  .slogan {
      font-size: 18px;
      color: transparentize($white, 0.2);
      text-align: center;
      margin-bottom:116px;
  }

  .btn {
    &.gray {
      background-color: transparentize($white, 0.7);
      color: $white;
      display: block;
      width: 180px;
      margin: 0 auto;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.intro {
  &.director {
    color: $white;
    margin-bottom: 106px;

    .row {
      background-color: #0F1321;
      border-radius: 18px;
    }

    .director-image {
      border-radius: 18px 0 0 18px;
    }

    .director-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    .director-name {
      font-size: 42px;
    }

    .director-tags {
      display: flex;
      margin-bottom: 50px;

      .tag {
        height: 35px;
        color: $white;
        font-size: 16px;
        text-align: center;
        line-height: 35px;
        padding: 0 30px;
        @include gradient-directional(#1d77f2, #20c1b6);
        border-radius: 35px;
        margin-right: 16px;
      }
    }

    .director-description {
      font-size: 16px;
      color: transparentize($white, 0.2);
    }
  }

  &.segment {
    background-color: #0F1321;
    padding: 105px 0;
    margin-bottom: 120px;

    .intro-title {
      text-align: center;
      color: $white;
      margin-bottom: 80px;

      &:after {
        content: none;
      }
    }

    .segments {
      display: flex;
      flex-flow: row nowrap;

      .segment-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        .segment-number {
          height: 58px;
          line-height: 58px;
          padding: 0 58px;
          border: 1px solid #1d77f2;
          border-radius: 58px;
          color: $white;
          font-size:24px;
          font-weight: 400;
          margin-bottom: 40px;
        }

        .segment-list {
          list-style:decimal-leading-zero;
          color: $white;
          margin-left: 24px;
          > li {
            padding: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  &.lectures {
    .intro-title {
      color: $white;
      margin-bottom: 40px;

      &:after {
        content: none;
      }
    }
    .lecture-menu-container {
      margin: 0;
      margin-bottom: 60px;
      padding: 0;

      .lecture-menu-item {
        font-size: 16px;
        margin-left: 0;
        list-style: none;
        float: left;
        text-align: center;
        padding: 10px 0;
        position: relative;

        &:after {
          content: "";
          background-color: transparentize(#101322, 0.8);
          height: 2px;
          width: 100%;
          bottom: -2px;
          left: 0;
          display: block;
          position: absolute;
        }

        a {
          display: block;
          color: transparentize($white, 0.6);

          &:hover {
            text-decoration: none;
          }
        }

        &:hover, &.current {
          a {
            color: $white;
          }
          &:after {
            @include gradient-directional(#1d77f2, #20c1b6);
          }
        }
      }
    }

    .lecture-image {
      margin-bottom: 25px;
    }
  }
}
</style>
