<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T11:01:22+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-20T11:24:12+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="hcmt">
  <div class="header-bg">
    <div class="container">
      <h2 class="logo-title">混出名堂</h2>
      <h3 class="text-title">旅行团乐队《勇》混音大赛</h3>
      <div class="btn-group">
        <a href="https://mp.weixin.qq.com/s/wEgRmk3l6ZNnY6siNdiTyA" class="btn intro-gradient" target="_blank">大赛结果</a>
        <a href="https://mp.weixin.qq.com/s/97xsnFvyut-BujV8oOFFiw" class="btn intro-blank" target="_blank">TOP 30</a>
      </div>
    </div>
  </div>

  <div class="intro case">
    <div class="container">
      <h3 class="intro-title">一份来自幕后圈和旅行团的异国礼物</h3>
      <p class="intro-description">
        去年7月，由太合音乐人发起的「伴星计划」活动中，幕后圈和旅行团一起来到了英国的 Abbey Road 录音棚。因为一些阴差阳错的原因，在这里额外诞生了一首《勇》的 Abbey Road 录音版本。幕后圈随后将这份珍贵的录音分轨无偿分享给了所有幕后人。<br />
        借着这宝贵的机会，幕后圈和旅行团决定举办「混出名堂」混音大赛，最终的冠军将成为《勇》Abbey Road 版本的混音师，他的名字将出现在最终发行版本的幕后团队中！
      </p>
      <a href="https://mp.weixin.qq.com/s?__biz=MzA5NjM3MDc5NQ==&mid=2650476699&idx=1&sn=f9a5b54136bf331a374824e667b6833c&chksm=88be999fbfc910890fba2320c7ea0c891623ff8c0a2ea9597f450ff62c2af70a5c3a0d61a09a&mpshare=1&scene=1&srcid=0201eBi3Jk2qb7hmjefbawJp#rd" class="btn intro-gradient" target="_blank">Abbey Road 录音记录</a>
      <img src="../../assets/images/edu/hcmt/ar_recording.jpg" alt="" width="100%" class="intro-image">
      <a href="https://v.youku.com/v_show/id_XMzUwMTU4NTExNg==.html
" target="_blank" class="btn intro-gradient" >观看阿比路录音纪录片</a>
    </div>
  </div>

  <div class="intro reward">
    <div class="reward-bg">
      <h3 class="intro-title">奖项设置</h3>
      <div class="container reward-container">
        <div class="reward-item">作品发行署名权</div>
        <div class="reward-item">10万元设备大礼包</div>
        <div class="reward-item">Abbey Road 珍贵声音素材</div>
      </div>
    </div>
  </div>

  <div class="intro judge">
    <div class="container">
      <h3 class="intro-title">国际评委阵容</h3>
      <div class="judger-container">
        <div class="row">
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_01.png" width="90%" class="judger-image">
            <p class="judger-name">Michael ‘Smidi’ Smith</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_02.png" width="90%" class="judger-image">
            <p class="judger-name">夏侯哲</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_03.png" width="90%" class="judger-image">
            <p class="judger-name">韦伟</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_04.png" width="90%" class="judger-image">
            <p class="judger-name">赵靖</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_05.png" width="90%" class="judger-image">
            <p class="judger-name">Leonard Fong</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_06.png" width="90%" class="judger-image">
            <p class="judger-name">王磊</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_07.png" width="90%" class="judger-image">
            <p class="judger-name">丁漫江</p>
          </div>
          <div class="judger col-md-3">
            <img src="../../assets/images/edu/hcmt/judge_08.png" width="90%" class="judger-image">
            <p class="judger-name">李泳彬</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro agenda">
    <div class="container">
      <h3 class="intro-title">大赛日程</h3>
      <div class="agenda-container row">
        <dt class="agenda-item col-md">
          <dd class="agenda-date">2.8-3.3</dd>
          <dd class="agenda-content">作品征集</dd>
        </dt>
        <dt class="agenda-item col-md">
          <dd class="agenda-date">3.3-3.7</dd>
          <dd class="agenda-content">初选 TOP 30</dd>
        </dt>
        <dt class="agenda-item col-md">
          <dd class="agenda-date">3.8</dd>
          <dd class="agenda-content">公布 TOP 30</dd>
        </dt>
        <dt class="agenda-item col-md">
          <dd class="agenda-date">3.9-3.13</dd>
          <dd class="agenda-content">最终决选</dd>
        </dt>
        <dt class="agenda-item col-md">
          <dd class="agenda-date">3.14</dd>
          <dd class="agenda-content">公布 TOP 3</dd>
        </dt>
        <dt class="agenda-item col-md">
          <dd class="agenda-date">3.18</dd>
          <dd class="agenda-content">颁奖大会</dd>
        </dt>
      </div>
    </div>
  </div>

  <div class="intro rule">
    <div class="container">
      <div class="section">
        <h3 class="intro-title">参赛规则</h3>
        <p class="intro-description">活动结束 规则关闭</p>
      </div>

      <div class="section">
        <h3 class="intro-title">活动细则</h3>
        <ul>
          <li class="list-content">请严格按照要求编辑邮件标题和音频文件名，以免对评选造成影响。</li>
          <li class="list-content">在邮件标题中提供微信号后，会有工作人员添加参赛选手的微信号并建群，随时了解比赛评选进度。</li>
          <li class="list-content">导出音频文件请保存为 48khz 24bit Wave 格式 · 混音作品中的电平峰值不能超过 -3 dB。</li>
          <li class="list-content">音频文件导出的开头和结尾处，需给母带留出空间3秒。</li>
          <li class="list-content">请使用全部分轨乐器，不得自行删减。</li>
          <li class="list-content">提交的作品不能在 Master 轨道上挂任何效果器，以及不能带有任何母带痕迹。</li>
          <li class="list-content">请严格按照以上标准进行混音工作。· 幕后圈课堂对该活动保留最终解释权。</li>
        </ul>
      </div>

      <div class="section">
        <h3 class="intro-title">活动主办</h3>
        <img src="../../assets/images/edu/hcmt/cooperation_01.png" width="294">
      </div>
      <div class="section">
        <h3 class="intro-title">特邀赞助</h3>
        <img src="../../assets/images/edu/hcmt/cooperation_02.png" width="414">
      </div>
      <div class="section">
        <h3 class="intro-title">媒体支持</h3>
        <img src="../../assets/images/edu/hcmt/cooperation_03.png" width="1186">
      </div>
    </div>
  </div>

  <div class="intro case">
    <div class="case-container">
      <a class="case-title" href="https://site.douban.com/behinders/room/39286207/" target="_blank">2016年 幕后圈 X 豆瓣音乐人 「混」出名堂 - 从卧室到录音棚 >></a>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'hcmt',
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.hcmt {
  background-color: #070B18;
  .header-bg {
    background: url("../../assets/images/edu/hcmt/header_bg.png") no-repeat center center;
    width: 100%;
    height: 835px;
    background-size: auto 835px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;

    .logo-title {
        background: url("../../assets/images/edu/hcmt/logo.png") no-repeat scroll;
        width: 400px;
        height: 250px;
        background-size: cover;
        @include text-hide();
        margin: 0 auto 40px;
    }

    .text-title {
        font-size: 42px;
        text-align: center;
        color: $white;
        margin-bottom: 80px;
    }

    .slogan {
        font-size: 18px;
        color: transparentize($white, 0.2);
        text-align: center;
        margin-bottom: 90px;
    }

    .btn-group {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .intro-gradient {
      display: block;
      width: 140px;
      color: $purple;
      margin-right:80px;

      &:hover {
        box-shadow: 0 2px 16px rgba($black, .55);
        text-decoration: none;
      }
    }

    .intro-blank {
      display: block;
      width: 140px;
      background-color: transparent;
      border: 1px solid $white;
      color: $white;
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }

    .desc {
      font-size: 14px;
      color: $white;
      text-align: center;
    }
  }

  .footer-bg {

  }
}

.intro {
  &.case {
    margin-bottom: 160px;

    .intro-title {
      text-align: center;
      color: $white;
      margin-bottom: 60px;

      &:after {
        content: none;
      }
    }

    .intro-description {
      color: transparentize($gray-300, 0.2);
      font-size: 16px;
      text-align: center;
      line-height: 1.8;
      margin-bottom: 50px;
    }

    .intro-gradient {
      display: block;
      margin: 0 auto 80px;
      width: 240px;
      @include gradient-x(#e620a7, #fb506f);
    }

    .intro-image {
      display: block;
      margin-bottom: 60px;
    }
  }

  &.reward {
    margin-bottom: 105px;

    .reward-bg {
      background: url("../../assets/images/edu/hcmt/reward_bg.png") no-repeat scroll center center;
      width: 100%;
      height: 402px;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .intro-title {
      color: $white;
      margin-bottom: 80px;

      &:after {
        content: none;
      }
    }

    .reward-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .reward-item {
      text-align: center;
      padding: 0 40px;
      background-color: transparentize($white, 0.7);
      border-radius: 40px;
      height: 70px;
      line-height: 70px;
      font-size: 24px;
      color: $white;
      display: block;
    }
  }

  &.judge {

    .intro-title {
      color: $white;
      margin-bottom: 80px;
      text-align: center;

      &:after {
        content: none;
      }
    }

    .judger-container {
      .judger {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 60px;

        .judger-image {
          margin-bottom: 20px;
        }
        .judger-name {
          font-size: 18px;
          color: $white;
          text-align: center;
        }
      }
    }
  }

  &.agenda {
    background-color: #101320;
    padding: 105px 0;
    .intro-title {
      color: $white;
      text-align: center;
      margin-bottom: 80px;

      &:after {
        content: none;
      }
    }

    .agenda-item {
      .agenda-date {
        font-size: 42px;
        font-weight: 200;
        line-height: 1;
        @include text-gradient($purple, $magenta);
        margin-bottom: 20px;
        text-align: center;
      }

      .agenda-content {
        text-align: center;
        color: $white;
        font-size: 18px;
      }
    }
  }

  &.rule {
    padding: 105px 0;
    .intro-title {
      @include text-gradient($purple, $magenta);
      font-size: 32px;
      line-height: 1;
      margin-bottom: 30px;

      &:after {
        content: none;
      }
    }

    .intro-description {
      font-size: 16px;
      color: transparentize($white, 0.6);
    }

    .section {
      margin-bottom: 105px;

      .list-content {
        margin: 0;
        list-style: disc;
        padding: 0;
        margin-bottom: 16px;
        color: transparentize($white, 0.2);
      }
    }
  }

  &.case {
    padding: 80px 0;
    background-color: #101320;
    margin-bottom: 0;

    .case-container {
      width: 100%;
      height: 210px;
      background: url("../../assets/images/edu/hcmt/activity.png") no-repeat scroll center center;
      background-size: auto 210px;
      display: flex;
      flex-flow: column;
      justify-content: center;

      .case-title {
        font-size: 18px;
        color: $white;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
</style>
