<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T11:02:19+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-08T01:03:30+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->
<template>
<div class="lecture">
  <div class="header-bg">
    <div class="container">
      <h2 class="logo-title">幕后圈课堂</h2>
      <h3 class="text-title">音乐知识宣讲会</h3>
      <p class="slogan">全国巡回 · 免费参加</p>
    </div>
  </div>

  <div class="intro wedo">
    <div class="container">
      <h3 class="intro-title">我们做什么</h3>
      <p class="intro-description">幕后圈课堂「音乐知识宣讲会」面向全国各地的音乐幕后从业者，以分享交流、传播经验知识为己任，已经在深圳、上海、成都和北京4座城市召开，共吸引到场观众2000余名。宣讲会内容涉及录音、调音、混音及职业规划等各方面。音乐从业者可以免费参加，获得宝贵的交流机会，收获行业人脉。<br />在宣讲会的现场，我们还准备了大量的互动提问环节和各种类型的线下活动。我们立志于打造中国最大的音乐幕后从业群体的线下交流活动，让音乐知识流动起来、分享起来，推动中国音乐产业更进一步发展。</p>
      <div class="wedo-images">
        <div class="image-container">
          <img src="../../assets/images/edu/lecture/beijing.png"  class="image">
          <div class="image-content">
            <h4 class="image-title">北京</h4>
            <p class="image-text">音乐谷仓录音棚</p>
            <p class="image-text">2018.03.18</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../../assets/images/edu/lecture/shanghai.png"  class="image">
          <div class="image-content">
            <h4 class="image-title">上海</h4>
            <p class="image-text">聚科生物园二期</p>
            <p class="image-text">2017.11.19</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../../assets/images/edu/lecture/chengdu.png"  class="image">
          <div class="image-content">
            <h4 class="image-title">成都</h4>
            <p class="image-text">声音啤酒馆</p>
            <p class="image-text">2018.01.21</p>
          </div>
        </div>
        <div class="image-container">
          <img src="../../assets/images/edu/lecture/shenzhen.png"  class="image">
          <div class="image-content">
            <h4 class="image-title">深圳</h4>
            <p class="image-text">A8 Livehouse</p>
            <p class="image-text">2017.08.27</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Ding />

  <div class="intro wedo wedo-other">
    <div class="wedo-images row no-gutters">
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_01.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_02.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_03.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_04.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_05.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_06.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_07.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
      <div class="image-container col-md-3">
        <img src="../../assets/images/edu/lecture/activity_08.png" width="100%">
        <div class="image-content">
          <h4 class="image-text">北京站-学员提问交流</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="intro next">
    <div class="footer-bg">
      下一站，即将开启……
    </div>
  </div>
</div>
</template>

<script>
import Ding from '../../components/Ding.vue';

export default {
  name: 'lecture',
  components: {
    Ding,
  },
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.lecture {
  background-color: #070B18;
  .header-bg {
    background: url("../../assets/images/edu/lecture/header_bg.png") no-repeat center center;
    width: 100%;
    height: 858px;
    background-size: auto 858px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .logo-title {
      background: url("../../assets/images/edu/mixing/logo_title.png") no-repeat scroll;
      width: 365px;
      height: 67px;
      background-size: cover;
      @include text-hide();
      margin: 0 auto 60px;
    }

    .text-title {
      font-size: 42px;
      text-align: center;
      color: $white;
    }

    .slogan {
      font-size: 18px;
      color: transparentize($white, 0.2);
      text-align: center;
      margin-bottom: 90px;
    }
  }
}

.intro {
  &.wedo {
    .intro-title {
      color: $white;
      text-align: center;

      &:after {
        content: "";
        @include text-gradient($purple, $magenta);
        left: 50%;
        margin-left: -32px;
      }
    }

    .intro-description {
      color: $white;
      margin-bottom: 80px;
    }

    .wedo-images {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 200px;

      .image-container {
        position: relative;

        .image {
          width: 240px;
          height: 198px;
          display: inline-block;
        }

        .image-content {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 600ms opacity ease-in;


          .image-title {
            font-size: 22px;
            line-height: 1;
            color: $white;
            margin-bottom: 40px;
          }

          .image-text {
            font-size: 14px;
            color: $white;
            margin-bottom: 10px;
          }
        }

        &:hover {
          .image-content {
            opacity: 1;
            transition: 600ms opacity ease-out;
          }
        }
      }
    }

    &.wedo-other {
      .wedo-images {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
    }
  }

  &.next {
    .footer-bg {
      background:url("../../assets/images/edu/lecture/footer_bg.png") scroll no-repeat center center;
      background-size: auto 298px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 18px;
      width: 100%;
      height: 298px;
    }
  }
}
</style>
