<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T10:59:06+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-14T23:40:15+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->
<template>
<div class="mixing">
  <div class="header-bg">
    <div class="container">
      <h2 class="logo-title">幕后圈课堂</h2>
      <h3 class="text-title">进阶式混音班</h3>
      <p class="slogan">迈向一线混音师阵营</p>
      <p class="desc">北京·团结湖</p>
    </div>
  </div>

  <div class="intro mixing-class">
    <div class="container">
      <h3 class="intro-title center">课程特色介绍</h3>
      <div class="row">
        <div class="col-md-6">
          <h4 class="block-title">高强度实践</h4>
          <p class="block-description">「进阶式混音班」邀请到丁漫江作为主讲老师。丁老师20年来于教育界及华语乐坛卓有成就。幕后圈课堂在这7天课中为学员们安排了5首混音工程，真正做到全天练习，高强度实践，并在实践中掌握必要理论知识。 </p>
        </div>
        <div class="col-md-6">
          <h4 class="block-title">多风格进阶式教学</h4>
          <p class="block-description">课程实践案例涵盖各类音乐风格作品，从民谣、流行、摇滚、到大编制，教学中多样的音乐风格和递增的混音难度系数，将为学员提供由浅至深的混音实践训练，让学员一来更好的进入学习状态，同时更全面、系统、深入地学习。</p>
        </div>
        <div class="col-md-6">
          <h4 class="block-title">多品类特色讲座</h4>
          <p class="block-description">课程夜间，幕后圈课堂额外提供3场嘉宾讲座，本邀请了幕后圈CEO李泳彬、CCTV新闻中心御用录音师李勃刚，和鹿晗专辑企宣总监邢小乐，话题涵盖音色理论、大型现场录制和音乐人宣发，为学员提供音乐幕后人非常需要的辅助知识。</p>
        </div>
        <div class="col-md-6">
          <h4 class="block-title">「7+2」课外体验</h4>
          <p class="block-description">幕后圈课堂独创7+2教学模式。有需要的学员可选择开课前一天到达场地，由助教辅导熟悉 Mac 和 Pro Tools 软件基本操作，提前熟悉实践环境。在7天课程结束后，同样可选择多停留一天，将有机会可以参与丁老师的日常混音工作。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="intro selected-class">
    <div class="container">
      <h3 class="intro-title">精品课程介绍</h3>
      <div class="slide-card">
        <div class="slide">
          日间课程涵盖内容
        </div>
        <div class="card-container row">
          <div class="col-md-4">
            <h4 class="block-title">*MAC 及 PRO TOOLS 使用</h4>
            <p class="block-description">熟悉 MacOS 系统和 Pro Tools 软件的基本使用技巧，让有需要的学员更好地进入实践状态。*：不属于必修课程</p>
          </div>
          <div class="col-md-4">
            <h4 class="block-title">录音核心技巧</h4>
            <p class="block-description">混音的基础是「录音」，课程安排在混音中传授针对不同配器的不同声音拾取方式。</p>
          </div>
          <div class="col-md-4">
            <h4 class="block-title">人声处理技巧</h4>
            <p class="block-description">深入学习音频效果器，让学员了解在人声处理中如何对音频效果器进行合理的使用。</p>
          </div>
          <div class="col-md-4">
            <h4 class="block-title">混音高强度实践</h4>
            <p class="block-description">7天课程5个混音工程，此课程让学员们在实践中通透所有音频知识理论！</p>
          </div>
          <div class="col-md-4">
            <h4 class="block-title">效果器深度练习</h4>
            <p class="block-description">深入摸索音频效果器，让学员从实践中更深层次的了解音频效果器。</p>
          </div>
          <div class="col-md-4">
            <h4 class="block-title">混音作品PK</h4>
            <p class="block-description">每次混音工程实践都将安排学员PK环节，知己知彼，百战不殆。</p>
          </div>
        </div>
      </div>
      <div class="slide-card">
        <div class="slide night">
          晚间名师讲座
        </div>
        <div class="card-container row content-center">
          <div class="col-md-12">
            <h4 class="block-title">音乐产业大咖进行免费的经验和知识分享，扩充知识面</h4>
            <p class="block-description nbm">往期嘉宾：李泳彬 李勃刚 邢小乐</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro master">
    <div class="container">
      <h3 class="intro-title">导师介绍</h3>
      <p class="intro-description">「进阶式混音班」名师云集，主讲老师丁漫江20年来于教育界及华语乐坛卓有成就。在此基础上，幕后圈课堂特邀请重量级嘉宾进行知识分享，让学员有机会与行业内领军人物面对面，提升知识广度，成为更全面的职业混音师。</p>

      <div class="masters">
        <div class="master-container">
          <img class="master-image" src="../../assets/images/edu/mixing/teacher01.png" width="240">
          <h5 class="master-name">主讲 | 丁漫江</h5>
          <p class="master-position">从业20年 / 最懂理论的混音师</p>
        </div>
        <div class="master-container">
          <img class="master-image" src="../../assets/images/edu/mixing/teacher02.png" width="240">
          <h5 class="master-name">嘉宾 | 李泳彬</h5>
          <p class="master-position">幕后圈 CEO / 音乐制作人</p>
        </div>
      </div>
    </div>
  </div>

  <div class="intro environment">
    <div class="container">
      <h3 class="intro-title">教学环境</h3>
      <p class="intro-description">{{introDesc}}</p>
    </div>
    <div class="images-address">
      <div class="container">
        <vueper-slides arrows-outside bullets-outside transition-speed="250" fixedHeight="783px">
          <vueper-slide v-for="(slide, i) in slideImages" :key="i" :image="slide"></vueper-slide>
        </vueper-slides>
      </div>

      <p class="geo-tag"><i class="icon"></i>北京市 朝阳区 团结湖东里12号 团结湖公寓写字楼B03</p>
    </div>
  </div>

  <div class="footer-bg"></div>
  <div class="intro contact">
    <div class="contact-bg">
      <img class="contact-image" src="../../assets/images/edu/mixing/consultant_qr.png" width="169">
      <h5 class="contact-name">课程顾问微信</h5>
      <h6 class="contact-name">邮箱：edu@behinders.com</h6>
    </div>
  </div>
</div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides';
import 'vueperslides/dist/vueperslides.min.css';

export default {
  name: 'mixing',
  data() {
    return {
      introDesc: '北京音乐谷仓录音棚位于北京市朝阳区团结湖附近，紧邻三里屯CBD商圈，设施交通便利。总面积650平方米，配有24小时新风系统，有专业的声学设计师设计，硬件设备一流，拥有国际同步的专业级制作即技术设施，录音棚工作系统包括收音间，录音室，混音间，midi创作室，乐队排练室，声乐培训室，舞蹈排练室，和音乐会展中心及独立的休息区。工作至今已经为众多艺人和明星录制唱片，制作专辑。为众多电影，电视，动画片配音配乐和后期制作，举办过多场音乐会交流活动。幕后圈课堂为保证学员学习质量，将为每位学员配置一套独立使用的混音设备，保证每位学员都能得到充分的实操时间和充足的自由练习，在舒适的学习环境中得到足够的练习和实践，快速提高混音水平。',
      slideImages: [
        require('../../assets/images/edu/mixing/slide_01.jpg'),
        require('../../assets/images/edu/mixing/slide_02.jpg'),
        require('../../assets/images/edu/mixing/slide_03.jpg'),
        require('../../assets/images/edu/mixing/slide_04.jpg'),
      ],
    };
  },
  components: { VueperSlides, VueperSlide },
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.mixing {
  background-color: #070B18;
  .header-bg {
    background: url("../../assets/images/edu/mixing/header_bg.png") no-repeat center center;
    width: 100%;
    height: 874px;
    background-size: auto 874px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .logo-title {
        background: url("../../assets/images/edu/mixing/logo_title.png") no-repeat scroll;
        width: 365px;
        height: 67px;
        background-size: cover;
        @include text-hide();
        margin: 0 auto 60px;
    }

    .text-title {
        font-size: 42px;
        text-align: center;
        color: $white;
    }

    .slogan {
        font-size: 18px;
        color: transparentize($white, 0.2);
        text-align: center;
        margin-bottom: 90px;
    }

    .intro-gradient {
      display: block;
      width: 140px;
      color: $purple;
      margin: 0 auto 16px;

      &:hover {
        box-shadow: 0 2px 16px rgba($black, .55);
        text-decoration: none;
      }
    }

    .desc {
      font-size: 14px;
      color: $white;
      text-align: center;
    }
  }

  .footer-bg {
    background: url("../../assets/images/edu/mixing/footer_bg.png") no-repeat center center;
    width: 100%;
    height: 936px;
    background-size: auto 936px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.intro {
  &.mixing-class {
    margin-bottom: 210px;

    .intro-title {
      text-align: center;
      color: $white;
      margin-bottom: 60px;

      &:after {
        content: none;
      }
    }

    .block-title {
      font-size: 22px;
      @include text-gradient(#e620a7, #fb506f);
      margin-bottom: 19px;
      text-align: center;
    }

    .block-description {
      font-size: 16px;
      color: $white;
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &.selected-class {
    margin-bottom: 120px;
    .intro-title {
      text-align: center;
      color: $white;
      margin-bottom: 60px;

      &:after {
        content: none;
      }
    }

    .slide-card {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 40px;

      .slide {
        width: 80px;
        background-color: #1b2138;
        text-orientation: upright;
        color: $white;
        font-size: 22px;
        padding: 72px 28px;
        border-radius: 20px 0 0 20px;

        &.night {
          padding: 28px;
        }
      }

      .card-container {
        width: 100%;
        background-color: #0f1324;
        border-radius: 0 12px 12px 0;
        padding: 50px 35px;

        &.content-center {
          display: flex;
          flex-grow: column;
          align-items: center;
        }
      }
    }

    .block-title {
      font-size: 22px;
      @include text-gradient(#e620a7, #fb506f);
      margin-bottom: 19px;
      text-align: center;
    }

    .block-description {
      font-size: 16px;
      color: $white;
      margin-bottom: 50px;
      text-align: center;
      &.nbm {
        margin-bottom: 0!important;
      }
    }
  }

  &.master {
    margin-bottom: 120px;
    .intro-title {
      text-align: center;
      color: $white;

      &:after {
        content: "";
        @include gradient-x(#e620a7, #fb506f);
        left: 50%;
        margin-left: -32px;
        border-radius: 10px;
      }
    }

    .intro-description {
      color: transparentize($gray-300, 0.2);
      font-size: 16px;
      text-align: center;
      margin-bottom: 80px;
      line-height: 1.8;
    }

    .masters {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;

      .master-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-right: 120px;

        &:last-child {
          margin-right: 0;
        }

        .master-image {
          margin-bottom: 16px;
        }

        .master-name {
          font-size: 18px;
          color: $white;
          text-align: center;
        }

        .master-position {
          text-align: center;
          font-size: 16px;
          color: transparentize($gray-200, 0.2);
        }
      }
    }
  }

  &.environment {
    margin-bottom: 120px;

    .intro-title {
      text-align: center;
      color: $white;
      margin-bottom: 60px;

      &:after {
        content: "";
        @include gradient-x(#e620a7, #fb506f);
        left: 50%;
        margin-left: -32px;
        border-radius: 10px;
      }
    }

    .intro-description {
      color: transparentize($gray-300, 0.2);
      font-size: 16px;
      text-align: center;
      margin-bottom: 80px;
      line-height: 1.8;
    }

    .images-address {
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    .ex--center-mode {
      width: 600px;
      margin: auto;
    }

    .geo-tag {
      font-size: 14px;
      line-height: 24px;
      padding: 0 10px 6px;
      border: 1px solid #e620a7;
      border-radius: 20px;
      color: $white;
      display: inline-block;
      margin: 80px auto;


      .icon {
        background: url("../../assets/images/edu/mixing/geo.png") no-repeat scroll center center;
        width: 16px;
        height: 24px;
        background-size: cover;
        display: inline-block;
      }
    }
  }

  &.contact {
    .contact-bg {
      background: url("../../assets/images/edu/mixing/contact_bg.png") no-repeat center center;
      width: 100%;
      height: 264px;
      background-size: auto 264px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .contact-image {
        margin-bottom: 12px;
      }
      .contact-name {
        font-size: 22px;
        color: $white;

        &:last-child {
          margin-bottom: 95px;
        }
      }
    }
  }
}
</style>
