<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T11:01:40+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-07T17:21:20+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="proanswers">
  <div class="header-bg">
    <div class="container">
      <h2 class="logo-title">幕后圈课堂</h2>
      <h3 class="proanswers">ProAnswers</h3>
      <h3 class="text-title">音乐知识短视频</h3>
      <p class="desc">幕后一线从业者 · 最短时间 GET 音乐技能</p>
    </div>
  </div>
  <div class="intro videos">
    <div class="container">
      <h3 class="intro-title">多类别短视频</h3>
      <p class="intro-description">内容涵盖词曲创作、编曲、录音、混音、母带、器乐演奏、影视音乐、演唱、版权、制作人、音乐教育等15个不同分类</p>
    </div>
  </div>
  <div class="intro status">
    <div class="container">
      <div class="row status-container no-gutters">
        <dl class="col">
          <dt class="status-number">30<small>+</small></dt>
          <dt class="status-name">PRO 幕后人</dt>
        </dl>
        <dl class="col">
          <dt class="status-number">250<small>+</small></dt>
          <dt class="status-name">音乐短视频</dt>
        </dl>
        <dl class="col">
          <dt class="status-number">1000<small>min+</small></dt>
          <dt class="status-name">音乐技能干货</dt>
        </dl>
        <dl class="col">
          <dt class="status-number">400<small>万+</small></dt>
          <dt class="status-name">播放量</dt>
        </dl>
      </div>
    </div>
  </div>
  <div class="intro programs">
    <div class="container">
      <h3 class="intro-title">精彩节目试看</h3>
      <div class="row programs-container">
        <div class="col-md">
          <iframe frameborder="0" width="560" height="340" src="https://v.qq.com/iframe/player.html?vid=p0617xm0dch&tiny=0&auto=0" allowfullscreen></iframe>
          <div class="program-title-container">
            <div class="program-title">
              混音过程中如何合理的去掉齿音？- 丁漫江
            </div>
            <div class="person-tags">
              <span class="tag">知名混音师</span>
              <span class="tag">录音师</span>
              <span class="tag">音响师</span>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md-5">
              <iframe frameborder="0" width="180" height="135" src="https://v.qq.com/iframe/player.html?vid=s0524sxwiyw&tiny=0&auto=0" allowfullscreen></iframe>
            </div>
            <div class="col-md-7 program-title-container">
              <div class="program-title">幕后圈带你探秘 TTL 录音棚</div>
              <div class="program-person">
                周天澈
              </div>
              <div class="person-tags">
                <span class="tag">金曲奖混音师</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <iframe frameborder="0" width="188" height="135" src="https://v.qq.com/iframe/player.html?vid=c0519ukewrr&tiny=0&auto=0" allowfullscreen></iframe>
            </div>
            <div class="col-md-7 program-title-container">
              <div class="program-title">
                鹿晗专辑《XXVII》从策划到发行全流程
              </div>
              <div class="program-person">
                邢小乐
              </div>
              <div class="person-tags">
                <span class="tag">行业资深唱片企划</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <iframe frameborder="0" width="188" height="135" src="https://v.qq.com/iframe/player.html?vid=m0600e07n7r&tiny=0&auto=0" allowfullscreen></iframe>
            </div>
            <div class="col-md-7 program-title-container">
              <div class="program-title">
                职业编曲人应该具备哪些素养？
              </div>
              <div class="program-person">
                王璐
              </div>
              <div class="person-tags">
                <span class="tag">电子音乐制作人</span>
                <span class="tag">编曲</span>
                <span class="tag">耀乐团团长</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro follow">
    <div class="footer-bg">
      <div class="container">
        <p class="intro-description">更多 PRO Answers 音乐视频</p>
        <p class="intro-description">关注底部「幕后圈课堂」微信公众号获取</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'proanswers',
};
</script>

<style lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.proanswers {
  background-color: #070B18;
  .header-bg {
    background: url("../../assets/images/edu/proanswers/header_bg.png") no-repeat center center;
    width: 100%;
    height: 796px;
    background-size: auto 796px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .logo-title {
        background: url("../../assets/images/edu/mixing/logo_title.png") no-repeat scroll;
        width: 365px;
        height: 67px;
        background-size: cover;
        @include text-hide();
        margin: 0 auto 30px;
    }

    .proanswers {
      background: url("../../assets/images/edu/proanswers/proanswers.png") no-repeat scroll;
      background-size: cover;
      width: 345px;
      height: 49px;
      @include text-hide;
      margin: 0 auto 90px;
    }

    .text-title {
      font-size: 36px;
      color: $white;
      text-align: center;
      margin-bottom: 16px;
    }

    .desc {
      font-size: 12px;
      color: $white;
      text-align: center;
    }
  }
}

.intro {
  &.videos {
    .intro-title {
      color: $white;
      text-align: center;
      &:after {
        @include gradient-x(#1d77f2, #20c1b6);
        left: 50%;
        margin-left: -32px;
      }
    }

    .intro-description {
      font-size: 12px;
      color: $white;
      text-align: center;
    }
  }

  &.status {
    margin-bottom: 200px;
    .status-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 50px 15px;
      padding: 70px 0;
      background-color: #101320;

      .status-number {
        font-size: 72px;
        font-weight: 200;
        @include text-gradient(#1d77f2, #20c1d6);
        text-align: center;

        > small {
          font-size: 32px;
        }
      }

      .status-name {
        font-size: 18px;
        color: $white;
        text-align: center;
      }
    }
  }

  &.programs {
    margin-bottom: 200px;
    .intro-title {
      color: $white;
      &:after {
        content: none;
      }
    }

    .program-title-container {
      padding: 20px;

      .program-title {
        font-size: 18px;
        color: $white;
        margin-bottom: 15px;
      }

      .program-person {
        color: transparentize($white, 0.46);
        font-size: 14px;
        margin-bottom: 20px;
      }

      .person-tags {
        display: flex;
        flex-flow: row nowrap;

        .tag {
          padding: 0 10px;
          font-size: 14px;
          color: $white;
          @include gradient-x(#1d77f2, #20c1d6);
          border-radius: 24px;
          height: 24px;
          line-height: 24px;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.follow {
    .footer-bg {
      background: url("../../assets/images/edu/proanswers/footer_bg.png") no-repeat scroll center center;
      background-size: auto 275px;
      width: 100%;
      height: 275px;
      font-size: 18px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;

      .intro-description {
        color: $white;
        font-size: 18px;
      }
    }
  }
}
</style>
