<!--
@Author: Allen C <chenillen>
@Date:   2018-07-06T10:40:42+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-07-06T11:06:17+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->



<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>幕后圈 - 音乐幕后人职业伴侣</title>
  <meta content="幕后圈成立于2014年10月，国内领先的音乐幕后人服务平台。前期以开发首个音乐幕后从业者社区APP为核心，以此获得了大量业内良好口碑，后逐渐转型为以依托全国最多音乐幕后资源，为行业提供优质音乐策划、制作及发行等一站式服务的创新公司。同时，幕后圈为音乐幕后人提供音乐培训，在全国各城市建立根据地，专门为培养优秀音乐幕后人而设，致力于为中国音乐行业输送新力量。" name="description">
</head>

<body>
  <noscript>
      <strong>We're sorry but resonant doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
