<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T02:16:28+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2020-07-07T12:19:53+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="about">
  <div class="about-text container">
    <h2 class="about-title-en">about us</h2>
    <h2 class="about-title">关于我们</h2>
    <p class="about-description">
    幕后圈成立于2014年10月，国内专业的音乐幕后人服务平台。前期以开发音乐从业者社区APP为核心，以此获得了大量业内良好口碑，后逐渐升级为依托全国一线音乐幕后资源，为企业和艺人提供音乐策划、制作及发行等一站式服务的创新公司。同时，幕后圈为音乐人提供音乐培训，在全国各城市建立根据地，专门为培养优秀音乐幕后人而设，致力于为中国音乐行业输送新力量。 幕后圈先后获得3W基金、东方弘道等知名机构投资，累计融资3000万。
    </p>
  </div>
  <div class="header-bg"></div>

  <div class="intro team">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../assets/images/about/team_yongbin.png" alt="李泳彬" width="256">
        </div>
        <div class="col-md-8">
          <h3 class="team-title-en">Founder</h3>
          <h3 class="team-title">创始人 - 李泳彬</h3>
          <p class="team-description">毕业于英国诺丁汉特伦特大学市场营销及管理专业，及英国利兹音乐学院音乐制作专业；业内著名录音师、混音师、录音制作人。曾任北京壹空间音乐技术总监、美国 Apogee Symphony I/O 中国代言人、音乐技术社区音控社创办人。多年的留学经历使他建立了自己独特的前卫创作风格，尤其对音色设计及录音最为擅长。回国后依靠自身丰富的专业素养，迅速成长为音乐制作行业的顶尖从业者，成绩卓著，与众多一线艺人合作，深受业内赞誉。2014年创立幕后圈，任 CEO至今。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="intro team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="team-title center">公司团队</h3>
        </div>
      </div>
      <div class="team-container" v-for="team in teamList" :key="team.index">
        <h4 class="subteam-title">{{team.name}}</h4>
        <div class="row" >
          <div class="col-md-4" v-for="member in team.members" :key="member.index">
            <div class="member-container">
              <img :src="member.image" :alt="member.name" width="233" height="246">
              <div class="member-title">
                <h5 class="member-name">{{member.name}}</h5>
                <p class="member-position">{{member.position}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'about',
  data() {
    return {
      teamList: [
        {
          name: '业务部',
          members: [
            {
              name: '朱忍',
              position: '制作负责人',
              image: require('../assets/images/about/team_zhuren.png'),
            },
            {
              name: '赵晨',
              position: '制作顾问',
              image: require('../assets/images/about/team_zhaochen.png'),
            },
            {
              name: '赵晨楚',
              position: '幕后人顾问',
              image: require('../assets/images/about/team_zhaochenchu.png'),
            },
            {
              name: '马龙',
              position: '幕后人顾问',
              image: require('../assets/images/about/team_malong.png'),
            },
          ],
        },
        {
          name: '移动传媒部',
          members: [
            {
              name: '吴双',
              position: '运营总监',
              image: require('../assets/images/about/team_wushuang.png'),
            },
            {
              name: '陈国旺',
              position: '新媒体运营',
              image: require('../assets/images/about/team_chenguowang.png'),
            },
            {
              name: '卢晓坤',
              position: '用户/产品运营',
              image: require('../assets/images/about/team_luxiaokun.png'),
            },
            {
              name: '牛相雯',
              position: '平面设计',
              image: require('../assets/images/about/team_niuxiangwen.png'),
            },
          ],
        },
        {
          name: '移动传媒部',
          members: [
            {
              name: '摆淏文',
              position: '导演',
              image: require('../assets/images/about/team_baihaowen.png'),
            },
            {
              name: '张嘉阳',
              position: '视频运营/统筹',
              image: require('../assets/images/about/team_zhangjiayang.png'),
            },
            {
              name: '王鸿杰',
              position: '剪辑',
              image: require('../assets/images/about/team_wanghongjie.png'),
            },
          ],
        },
        {
          name: '幕后圈课堂',
          members: [
            {
              name: '陆晗',
              position: '课堂运营',
              image: require('../assets/images/about/team_luhan.png'),
            },
            {
              name: '李苗苗',
              position: '招生运营',
              image: require('../assets/images/about/team_limiaomiao.png'),
            },
          ],
        },
        {
          name: '综合部',
          members: [
            {
              name: '王宇慧',
              position: '行政/HR',
              image: require('../assets/images/about/team_wangyuhui.png'),
            },
            {
              name: '刘耿',
              position: '财务',
              image: require('../assets/images/about/team_liugeng.png'),
            },
          ],
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.about {
  .about-text {
    padding-top:  160px;

    .about-title-en {
      width: 290px;
      height: 29px;
      background: url("../assets/images/about/about_bg.png") no-repeat scroll;
      background-size: cover;
      font-size: 28px;
      font-weight: 200;
      color: $white;
      text-transform: uppercase;
      padding-left: 10px;
      line-height: 29px;
      margin-bottom: 30px;
    }

    .about-title {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .about-description {
      color: $gray-600;
      margin-bottom: 90px;
      line-height: 1.8;
    }
  }

  .header-bg {
    background: url("../assets/images/about/about_we.png") no-repeat left center;
    width: 100%;
    height: 500px;
    background-size: 1280px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 210px;
  }
}

.intro {
  &.team {
    .team-title-en {
      font-size: 28px;
      color: #fd3095;
      font-weight: 300;
      margin-bottom: 8px;

      &.center {
        text-align: center;
        color: #164fe1;
      }
    }

    .team-title {
      font-size: 48px;
      color: #17181c;
      margin-bottom: 12px;

      &.center {
        text-align: center;
      }
    }

    .team-description {
      font-size: 18px;
      color: $gray-600;
      line-height: 1.6;
      margin-bottom: 120px;
    }

    .team-container {
      margin-bottom: 92px;

      .subteam-title {
        font-size: 32px;
        line-height: 32px;
        color: #17181c;
        margin-bottom: 53px;
        position: relative;
        padding-left: 15px;

        &:before {
          content: "";
          position: absolute;
          width: 4px;
          height: 32px;
          left: 0;
          top: 0;
          background-color: #fd3095;
        }
      }

      .member-container {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 70px;

        .member-title {
          .member-name {
            font-size: 18px;
            color: #101322;
          }

          .member-position {
            font-size: 14px;
            color: $gray-600;
          }
        }
      }
    }
  }
}
</style>
