<!--
@Author: Allen C <chenillen>
@Date:   2018-07-06T10:40:42+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2020-07-07T12:17:41+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->


<template>
<div class="apps">
  <div class="header-bg">
    <div class="container">
      <h3 class="slogan">幕后圈APP</h3>
      <p class="description">精英音乐人名片</p>
      <div class="row relative">
        <div class="col-md">
          <div class="qrcodes">
            <div class="qrcode-container">
              <img src="../assets/images/apps/app_download.png" alt="iOS下载" width="150" class="qr-image">
              <p class="qr-text">下载幕后圈APP</p>
            </div>
            <div class="qrcode-container">
              <img src="../assets/images/apps/miniapp_qr.png" alt="小程序" width="150" class="qrcode">
              <p class="qr-text">幕后圈小程序</p>
            </div>
          </div>
        </div>
        <div class="phone-container">
          <img src="../assets/images/apps/phone.png" width="438" class="phone-image">
        </div>
      </div>
    </div>
  </div>
  <div class="intro app-status">
    <div class="container">
      <div class="stats-inner">
        <h4 class="stats-numeric">2<small>万+</small></h4>
        <p class="stats-title">音乐幕后人</p>
      </div>
      <div class="stats-inner">
        <h4 class="stats-numeric">10<small>万+</small></h4>
        <p class="stats-title">作品幕后数据</p>
      </div>
      <div class="stats-inner long">
        <h4 class="stats-numeric">2000<small>+</small></h4>
        <p class="stats-title">头部从业者</p>
      </div>
      <div class="stats-inner">
        <h4 class="stats-numeric">35<small>万+</small></h4>
        <p class="stats-title">华语曲库</p>
      </div>
    </div>
  </div>

  <div class="intro app-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 app-image">
          <img src="../assets/images/apps/app_content_01.png" width="401">
        </div>
        <div class="col-md-6 app-description">
          <h3 class="content-title">认领参与作品</h3>
          <p class="description">通过幕后圈 APP和小程序，你可以认领自己参与过的音乐作品，并标识自己担任过的角色。</p>

          <h4 class="content-subtitle">认领作品</h4>
          <p class="description">认领参与过的音乐作品，标识自己担任的工作。</p>

          <h4 class="content-subtitle">编辑认领信息</h4>
          <p class="description">修改自己曾经担任的角色。</p>

          <h4 class="content-subtitle">编辑作品风格</h4>
          <p class="description">认领作品并编辑作品风格，生成属于自己的代表风格。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="intro app-content gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 app-description">
          <h3 class="content-title">生成并管理你的乐坛名片</h3>
          <p class="description">通过认领作品，你可以生成属于你自己的乐坛名片，一键分享给合作伙伴，全方位展示自己的音乐能力。</p>

          <h4 class="content-subtitle">你的工作一目了然</h4>
          <p class="description">通过认领生成作品列表，按时间排序，让你的工作和成长一目了然。</p>

          <h4 class="content-subtitle">按不同角色划分的作品履历</h4>
          <p class="description">按照你认领作品的角色分类你的作品，做过什么工作清晰可见。</p>

          <h4 class="content-subtitle">展现你的擅长工作和风格</h4>
          <p class="description">你擅长什么幕后圈都知道，在幕后圈展现最好的你。</p>
        </div>
        <div class="col-md-6 app-image">
          <img src="../assets/images/apps/app_content_02.png" width="420">
        </div>
      </div>
    </div>
  </div>
  <div class="intro app-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 app-image">
          <img src="../assets/images/apps/app_content_03.png" width="442">
        </div>
        <div class="col-md-6 app-description">
          <h3 class="content-title">参与圈内优质音乐项目</h3>
          <p class="description">幕后圈提供优质的圈内音乐项目</p>

          <h4 class="content-subtitle">项目找人</h4>
          <p class="description">缺制作人、缺编曲、缺混音……各种工作机会在这里都有机会找到</p>

          <h4 class="content-subtitle">收词曲</h4>
          <p class="description">各类优质收词曲项目，轻松一点，把你的作品投给客户，更高的中标几率。</p>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</template>
<script>
export default {
  name: 'apps',
  data() {
    return {
    };
  },
};
</script>
<style lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.apps {
  .header-bg {
    background: url("../assets/images/apps/header_bg.png") no-repeat center center;
    width: 100%;
    height: 1002px;
    background-size: auto 1002px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 210px;

    .slogan {
      font-size: 45px;
      color: transparentize($white, 0.1);
      font-weight: 300;
      margin-bottom: 20px;
    }

    .description {
      font-size: 27px;
      color: transparentize($white, 0.1);
      margin-bottom: 80px;
    }

    .qrcodes {
      display: flex;
      flex-flow: row nowrap;

      .qrcode-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        margin-right: 40px;

        .qr-image {}
        .qr-text {
          margin-bottom: 0;
        }
      }
    }

    .phone-container {
      position: absolute;
      margin-top: -240px;
      right: 0;
    }

    .relative {
      position: relative;
    }
  }
}

.intro {
  &.app-status {
    margin-bottom: 120px;
    @include clearfix;

    .stats-inner {
      float: left;
      background: $white;
      box-shadow: 0 3px 40px transparentize(#e6e6e6, 0.7);
      padding: 93px 72px 62px;
      position: relative;
      @include clearfix;

      &:before {
        content: "";
        border-right: 1px solid transparentize($white, 0.6);
        position: absolute;
        width: 1px;
        height: 70%;
        top: 15%;
        left: 1px;
      }

      &:after {
        content: "";
        border-right: 1px solid transparentize(#e6e6e6, 0.6);
        position: absolute;
        width: 1px;
        height: 70%;
        top: 15%;
        right: 1px;
      }

      &.long {
        padding: 93px 36px 62px;
      }

      &:first-child {
        &:before {
          content: none;
        }
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      .stats-numeric {
        font-size: 84px;
        font-weight: 200;
        @include text-gradient($magenta, #9c0363);
        text-align: center;
        margin-bottom: 0;

        > small {
          font-size: 24px;
        }
      }

      .stats-title {
        font-size: 18px;
        color: $gray-700;
        text-align: center;
      }
    }
  }

  &.app-content {
    &.gray-bg {
      background-color: $gray-100;
    }

    .app-image {
      padding-top:86px;
    }

    .app-description {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;

      .content-title {
        font-size: 42px;
        color: #101322;
        margin-bottom: 24px;
        font-weight: 300;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 64px;
          height: 4px;
          @include gradient-x($magenta, #9c0363);
        }
      }

      .description {
        color: transparentize(#141414, 0.2);
        font-size: 16px;
        margin-bottom: 30px;
      }

      .content-subtitle {
        font-size: 18px;
        color: #101322;
        margin-bottom: 6px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .apps {
    overflow-x: hidden;

    .header-bg {
      .qrcodes {
        margin-bottom: 30px;

        .qrcode-container {
          width: 48%;
          margin-right: 5%;
        }
      }
      .phone-container {
        position: static;
        margin-top: 0;

        .phone-image {
          width: 100%;
        }

      }
    }
  }
}
</style>
