<!--
@Author: Allen C <chenillen>
@Date:   2018-07-31T02:24:50+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-20T12:12:51+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="contact">
  <div class="header-bg">
    <div class="container">
      <h2 class="about-title">联系我们</h2>
      <h3 class="about-title-en">about us</h3>
    </div>
  </div>

  <div class="intro form">
    <div class="container request-form">
      <div class="row">
        <div class="col-md-7 form-container">
          <form class="" action="" method="post">
            <input class="form-input" type="text" name="name" placeholder="怎么称呼您？">
            <input class="form-input" type="email" name="email" placeholder="您的邮箱地址是？">
            <textarea class="form-textarea" name="content" cols="20" placeholder="请输入您的需求"></textarea>
            <button class="btn outline" type="button" name="button">发送需求</button>
            <p class="contact">咨询电话：400-1338-400</p>
          </form>
        </div>
        <div class="col-md-5">
          <img src="../assets/images/contact/map.png" width="100%">
        </div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
export default {
  name: 'contact',
};
</script>

<style lang="scss" scoped >
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.contact {
  background-color: $white;
  .header-bg {
    background: url("../assets/images/contact/header_bg.png") no-repeat center center;
    width: 100%;
    height: 761px;
    background-size: auto 761px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .about-title {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 20px;
      color: $white;
    }

    .about-title-en {
      font-size: 28px;
      font-weight: 200;
      color: $white;
      text-transform: uppercase;
    }
  }


  .request-form {
    background-color: $white;
    box-shadow: 0 16px 16px transparentize($black, 0.8);
    margin-top: -200px;
    border-radius: 20px;

    .form-container {
      padding: 65px 75px;
    }
  }

  .form-input {
    outline: none;
    border: none;
    border-bottom: 1px solid transparentize(#070B18, 0.4);
    display: block;
    width: 100%;
    height: 60px;
    background: transparent;
    margin-bottom: 30px;
    color: transparentize(#070B18, 0.4);
    padding: 0 10px;
  }

  .form-textarea {
    border: 1px solid transparentize(#070B18, 0.4);
    color: transparentize(#070B18, 0.4);
    outline: none;
    background: transparent;
    display: block;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .btn {
    display: block;
    margin: 0 auto 20px;
    border-color: transparentize(#070B18, 0.4);
    color: transparentize(#070B18, 0.4);
  }

  .contact {
    color: transparentize(#070B18, 0.4);
    text-align: center;
    font-size: 14px;
  }
}

.form {
  padding-bottom: 300px;
}
</style>
