<!--
@Author: Allen C <chenillen>
@Date:   2018-07-06T10:40:42+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-20T11:41:18+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->

<template>
<div class="copyright">
  <div class="header-bg">
    <div class="container">
      <h2 class="copyright-logo"></h2>
      <h3 class="slogan">创作者的商业化捷径</h3>
      <p class="description">幕后圈版权库累计拥有<strong class="numeric">708</strong>位一线创作者的 <strong class="numeric">5,000</strong>+词曲作品<br />
        达成<strong class="numeric">1120</strong>首合作需求</p>
    </div>
  </div>
  <div class="intro demo">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h3 class="intro-title">{{demoIntro.title}}</h3>
            <p class="intro-description">{{demoIntro.description}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md step" :class="stepKlass(index)" v-for="(step, index) in demoIntro.steps" :key="step.index">
          {{step}}
        </div>
        <div class="center-column">
          <a :href="demoIntro.moreLink" class="btn intro-gradient">{{demoIntro.linkContent}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="intro agent">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h3 class="intro-title">{{agentIntro.title}}</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <a class="col-md-3 card" v-for="card in agentIntro.list" :key="card.index" :href="card.link">
          <img :src="card.image" width="100%" height="auto" class="card-image"/>
          <p class="card-title">{{card.name}}</p>
        </a>
      </div>
    </div>
  </div>
  <ContactForm :formInfo="copyrightForm" />
</div>
</template>

<script>
import ContactForm from '../components/ContactForm.vue';

export default {
  name: 'copyright',
  data() {
    return {
      demoIntro: {
        title: '便捷作品变现',
        description: '幕后圈致力于为音乐幕后人对接业内资源和版权变现机会。词曲作者可以上传词曲 DEMO 至幕后圈，幕后圈会自动为优秀的词曲作品寻找对接项目，帮助作者快速变现。同时，幕后圈也为独立音乐人提供更透明的发行代理服务。',
        steps: [
          '入驻幕后圈',
          '登录官网，上传 DEMO',
          '作品变现',
        ],
        moreLink: 'https://blog.behinders.com/qa-how-to-sell-my-work/',
        linkContent: '了解更多',
      },
      agentIntro: {
        title: '版权代理案例',
        list: [
          {
            image: require('../assets/images/copyright/A1.jpg'),
            name: '幕后圈参与鹿晗冠军单曲《敢 Roleplay》制作',
            link: 'http://www.behinders.com/cases/detail/6cd58378-3ba2-11e7-970d-00163e004b51',
          },
          {
            image: require('../assets/images/copyright/A2.jpg'),
            name: '幕后圈词曲代理牵手徐佳莹，献声青春剧《夏至未至》',
            link: 'http://www.behinders.com/cases/detail/8ebb2698-41c2-11e7-ba7a-00163e004b51',
          },
          {
            image: require('../assets/images/copyright/A3.jpg'),
            name: '2017版《射雕英雄传》，幕后圈词曲版权服务为热剧输送好作品',
            link: 'http://www.behinders.com/cases/detail/25f23e48-3ba1-11e7-84a9-00163e004b51',
          },
          {
            image: require('../assets/images/copyright/A4.jpg'),
            name: '幕后圈版权代理助力陌陌哈你直播《非 WO 陌属》专辑发行',
            link: 'http://www.behinders.com/cases/detail/78328eec-3ba1-11e7-abeb-00163e004b51',
          },
          {
            image: require('../assets/images/copyright/A5.jpg'),
            name: '幕后圈为年度大戏《如果可以这样爱》策划统筹主题曲制作',
            link: 'http://www.behinders.com/cases/detail/3f5a9d8a-a718-11e6-b0bd-00163e003956',
          },
          {
            image: require('../assets/images/copyright/A6.jpg'),
            name: '幕后圈词曲代理为大热网剧《热血长安》输送好音乐',
            link: 'http://www.behinders.com/cases/detail/bf549734-3ba1-11e7-9a33-00163e004b51',
          },
          {
            image: require('../assets/images/copyright/A7.jpg'),
            name: '幕后圈词曲代理为王青打造爆款迷你专辑《十二月》',
            link: 'http://www.behinders.com/cases/detail/bf549734-3ba1-11e7-9a33-00163e004b51',
          },
          {
            image: require('../assets/images/copyright/A8.jpg'),
            name: '从当红主播到新人歌手，就差一个幕后圈',
            link: 'http://www.behinders.com/cases/detail/119798b6-a719-11e6-8b09-00163e003956',
          },
        ],
      },
      copyrightForm: {
        title: '咨询版权业务',
        description: '幕后圈版权顾问会尽快回复您的邮件',
        placeholder: {
          name: '怎么称呼您？',
          email: '您的邮箱地址是？',
          content: '请描述您的具体需求',
          button: '发送需求',
          telephone: '咨询电话：400-1338-400',
        },
      },
    };
  },
  components: {
    ContactForm,
  },
  methods: {
    stepKlass(index) {
      return `step_${index}`;
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.copyright {
  .header-bg {
    background: url("../assets/images/copyright/header_bg.png") no-repeat center center;
    width: 100%;
    height: 914px;
    background-size: auto 914px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 210px;
  }

  .copyright-logo {
    background: url("../assets/images/copyright/copyright_agent.png") no-repeat scroll;
    width: 539px;
    height: 71px;
    background-size: cover;
    margin:0 auto 100px;
    @include text-hide();
  }

  .slogan {
    font-size: 32px;
    color: $white;
    text-align: center;
    font-weight: 300;
  }

  .description {
    font-size: 16px;
    color: $white;
    text-align: center;

    .numeric {
      font-size: 28px;
    }
  }
}

.intro {
  &.demo {
    margin-bottom: 100px;

    .center-column {
      .intro-description {
        max-width: 80%;
        color: $gray-800;
      }
    }

    .step {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      height: 144px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;

      &.step_0 {
        background: url("../assets/images/copyright/step_01.png") no-repeat scroll center center;
        background-size: auto 144px;
      }

      &.step_1 {
        background: url("../assets/images/copyright/step_02.png") no-repeat scroll center center;
        background-size: auto 144px;
      }

      &.step_2 {
        background: url("../assets/images/copyright/step_03.png") no-repeat scroll center center;
        background-size: auto 144px;
      }
    }
  }

  &.agent {
    margin-bottom: 100px;

    .intro-title {
      margin-bottom: 0;

      &:after {
        content: none;
      }
    }

    .card {
      margin-bottom: 60px;

      &:hover {
        text-decoration: none;
      }

      .card-image {
        margin-bottom: 20px;
        border-radius: 5px;

        &:hover {
          box-shadow: 0 2px 6px transparentize(#62697c, 0.84);
        }
      }

      .card-title {
        font-size: 14px;
        text-align: center;
        color: $gray-600;
      }
    }
  }
}
</style>
