<!--
@Author: Allen C <chenillen>
@Date:   2018-07-06T10:40:42+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2020-07-07T12:15:15+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->


<template>
<div class="home">
  <div class="header-bg">
    <div class="container">
      <h1 class="logo-title">幕后圈</h1>
      <p class="slogan">音乐幕后人职业伴侣</p>
    </div>
  </div>
  <div class="intro agent-service">
    <div class="container">
      <div class="row" v-for="intro of serviceIntros" :key="intro.title" >
        <template v-if="intro.type === 'twoColumns'">
          <div class="col-md intro-flex">
            <h3 class="intro-title">{{intro.title}}</h3>
            <p class="intro-description">{{intro.description}}</p>
            <router-link :to="{ name: intro.moreLink }" class="btn intro-gradient">{{intro.linkContent}}</router-link>
          </div>
          <div class="col-md">
            <div class="flex-column">
              <div class="cover-wrapper" v-for="image in intro.images" :key="image.index">
                <img class="cover" :src="image.file" />
                <div class="cover-description">
                  <h5 class="artist">{{image.artist}}</h5>
                  <p class="role">{{image.role}}</p>
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-if="intro.type === 'singleColumn'">
          <div class="col-12">
            <div class="center-column">
              <h3 class="intro-title">{{intro.title}}</h3>
              <p class="intro-description">{{intro.description}}</p>
            </div>
          </div>
          <div class="col-12 flex-row">
            <div class="cover-wrapper" v-for="image in intro.images" :key="image.index">
              <img class="cover" :src="image.file" width="100%" />
              <div class="cover-description">
                <h5 class="artist">{{image.artist}}</h5>
                <p class="role">{{image.role}}</p>
              </div>
            </div>
          </div>
          <div class="center-column">
            <router-link :to="{ name: intro.moreLink }" class="btn intro-gradient">{{intro.linkContent}}</router-link>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div class="intro education">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h2 class="logo-title">幕后圈课堂</h2>
            <h3 class="intro-title">{{educationIntro.title}}</h3>
            <p class="intro-description">{{educationIntro.description}}</p>
          </div>
        </div>
      </div>
      <div class="row status no-gutters">
        <div class="col-md">
          <img src="../assets/images/home/proanswers.jpg">
        </div>
        <div class="col-md status-container">
          <h4 class="subtitle">PRO Answers 音乐知识短视频</h4>
          <div class="row">
            <dl class="col">
              <dt class="status-number">30<small>+</small></dt>
              <dt class="status-name">PRO 幕后人</dt>
            </dl>
            <dl class="col">
              <dt class="status-number">250<small>+</small></dt>
              <dt class="status-name">音乐干货短视频</dt>
            </dl>
            <dl class="col">
              <dt class="status-number">400<small>万+</small></dt>
              <dt class="status-name">播放量</dt>
            </dl>
          </div>
        </div>
      </div>
      <div class="row status no-gutters">
        <div class="col-md status-container">
          <div class="subtitles">
            <h4 class="subtitle">全国免费宣讲会</h4>
            <h4 class="subtitle">高端线下课程</h4>
            <h4 class="subtitle">幕后人嘉年华</h4>
            <h4 class="subtitle">PRO Answers 大咖讲堂</h4>
          </div>
          <div class="row">
            <dl class="col">
              <dt class="status-number">2300<small>+</small></dt>
              <dt class="status-name">参与学员</dt>
            </dl>
            <dl class="col">
              <dt class="status-number">20<small>年</small></dt>
              <dt class="status-name">导师从业经验</dt>
            </dl>
            <dl class="col">
              <dt class="status-number">10<small>+</small></dt>
              <dt class="status-name">行业大咖亲身教学</dt>
            </dl>
          </div>
        </div>
        <div class="col-md">
          <img src="../assets/images/home/event.jpg" class="right">
        </div>
      </div>
    </div>
  </div>
  <div class="intro apps">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h3 class="intro-title">{{appsIntro.title}}</h3>
            <p class="intro-description">{{appsIntro.description}}</p>
            <router-link :to="{ name: appsIntro.moreLink }" class="intro-text-gradient">{{appsIntro.linkContent}}</router-link>
            <img src="../assets/images/home/apps.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro clients">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h3 class="intro-title">合作伙伴</h3>
            <h4 class="section-title">音乐制作</h4>
            <img src="../assets/images/home/produce.png" width="100%" class="image">
            <h4 class="section-title">版权代理</h4>
            <img src="../assets/images/home/copyright.png" width="100%" class="image">
            <h4 class="section-title">幕后圈课堂</h4>
            <img src="../assets/images/home/class.png" width="100%" class="image">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      serviceIntros: [
        {
          title: '音乐制作',
          description: '幕后圈资深产业团队为一线客户提供高水准的企制宣发于一体的音乐解决方案',
          type: 'twoColumns',
          images: [
            {
              file: require('../assets/images/home/intro_01_cd1.png'),
              artist: 'A.Love 单曲《傀儡》登陆华语红歌榜第3名！',
              role: '',
            },
            {
              file: require('../assets/images/home/intro_01_cd2.png'),
              artist: '幕后圈策划旅行团乐队完成英国 Abbey Road 录音之旅',
              role: '',
            },
            {
              file: require('../assets/images/home/intro_01_cd3.png'),
              artist: '策划制作王青迷你专辑《十二月》',
              role: '',
            },
            {
              file: require('../assets/images/home/intro_01_cd4.png'),
              artist: '参与鹿晗冠军单曲《敢 Roleplay》策划制作',
              role: '',
            }],
          moreLink: 'produce',
          linkContent: '了解更多',
        },
        {
          title: '版权代理',
          description: '创作者的商业化捷径，依托海量业内优秀项目资源及平台资源，帮助创作者更好地获得作品收益。',
          type: 'singleColumn',
          images: [
            {
              file: require('../assets/images/home/intro_02_cd1.png'),
              artist: '幕后圈出镜新《射雕英雄传》，为热剧输送好作品',
              role: '',
            },
            {
              file: require('../assets/images/home/intro_02_cd2.png'),
              artist: '策划制作大热网剧《热血长安》主题曲',
              role: '',
            },
            {
              file: require('../assets/images/home/intro_02_cd3.png'),
              artist: '幕后圈策划制作青春剧《夏至未至》主题曲',
              role: '',
            },
            {
              file: require('../assets/images/home/intro_02_cd4.png'),
              artist: '为年度大戏《如果可以这样爱》策划制作主题曲',
              role: '',
            }],
          moreLink: 'copyright',
          linkContent: '了解更多',
        },
      ],
      educationIntro: {
        title: '跟圈里人学音乐',
        description: '集结幕后音乐大咖线上线下混合教学，助力新锐音乐幕后人成长',
      },
      appsIntro: {
        title: '乐坛名片',
        description: '含微信小程序及 iOS 应用，专业的音乐从业者履历工具，透明的工作机会聚集地，属于你们的精英音乐人社区',
        moreLink: 'apps',
        linkContent: '了解更多',
      },
    };
  },
};
</script>

<style lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.home {
  .header-bg {
      background: url("../assets/images/home/header_bg.png") no-repeat center center;
      width: 100%;
      height: 1198px;
      background-size: auto 1198px;
      display: flex;
      flex-flow: column;
      justify-content: center;

      .logo-title {
          background: url("../assets/images/home/logo_title.png") no-repeat scroll;
          width: 232px;
          height: 78px;
          background-size: cover;
          @include text-hide();
          margin-bottom: 30px;
      }

      .slogan {
          font-size: 32px;
          color: $white;
      }
  }
}

.intro {
  .logo-title {
    background: url("../assets/images/edu/mixing/logo_title.png") no-repeat scroll;
    width: 365px;
    height: 67px;
    background-size: cover;
    @include text-hide();
    margin: 0 auto 60px;
  }

  .intro-title {
    font-size: 42px;
    color: $gray-800;
    position: relative;
    line-height: 1;
    margin-bottom: 40px;

    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 64px;
      height: 4px;
      background-color: $black;
    }
  }

  .intro-description {
    font-size: 16px;
    color: transparentize($gray-800, 0.2);
  }

  .intro-gradient {
    width: 140px;
    @include gradient-directional($purple, $magenta);
    color: $white;

    &:hover {
      box-shadow: 0 2px 16px rgba($purple, .55);
      text-decoration: none;
    }
  }

  .intro-text-gradient {
    font-size: 18px;
    color: $white;

    &:hover {
      @include text-gradient($purple, $magenta);
    }
  }

  .intro-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .intro-description {
      width: 60%;
    }
  }

  .cover-wrapper {
    width: 246px;
    min-width: 246px;
    height: 246px;
    position: relative;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow: hidden;

    .cover {
      width: 100%;
      height: 100%;
    }

    .cover-description {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: transparentize($black, .2);
      display: flex;
      flex-flow: column;
      justify-content: center;
      transition: 400ms opacity ease-out;
      border-radius: 5px;
      padding: 0 16px;

      .artist {
        font-size: 18px;
        color: $white;
        text-align: justify;
        font-weight: 300;
      }

      .role {
        font-size: 14px;
        color: transparentize($gray-010, 0.2);
        text-align: center
      }
    }

    &:hover {
      .cover-description {
        opacity: 1;
        transition: 400ms opacity ease-in;
      }
    }
  }

  .flex-column {
    display: flex;
    flex-flow: column wrap;
    height: 715px;
    margin-top: 105px;
    margin-bottom: 160px;

    .cover-wrapper {
      &:first-child {
        margin-top:123px;
      }
    }
  }

  .center-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 160px;

    .intro-title {
      &:after {
        left: 50%;
        margin-left: -32px;
      }
    }

    .intro-description {
      max-width: 60%;
      text-align: center;
    }
  }

  .flex-row {
    display: flex;
    flex-flow: row nowrap;
    height: 296px;
    margin-bottom: 60px;

    .cover-wrapper {
      margin-right: 55px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.agent-service {
    position: relative;
    padding-bottom: 161px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 322px;
      background: $gray-910 url("../assets/images/home/excessive_bg.png") no-repeat scroll;
      background-position: 50% 100%;
      background-size: auto 322px;
    }
  }

  &.education {
    background-color: $gray-910;
    padding-bottom: 200px;

    .intro-title {
      color: $gray-010;
      margin-bottom: 30px;
      &:after {
        content: none;
      }
    }

    .intro-description {
      color: $white;
    }

    .status {
      background-color: #0C0F20;
      margin: 0;
      margin-bottom: 40px;
    }

    .status-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 15px;

      .subtitle {
        font-size: 24px;
        color: $white;
        padding-left: 55px;
        position: relative;

        &:before {
          content: "";
          width: 2px;
          height: 100%;
          border-left: 1px solid ;
          border-right: 1px solid ;
          position: absolute;
          left: 45px;
        }
      }

      .subtitles {
        .subtitle {
          float: left;
          width: 50%;
          padding-left: 25px;
          font-size: 22px;

          &:before {
            left: 15px;
          }
        }
      }

      .status-number {
        font-size: 48px;
        font-weight: 200;
        @include text-gradient($magenta, #9c0363);
        text-align: center;

        > small {
          font-size: 26px;
        }
      }

      .status-name {
        font-size: 16px;
        color: $white;
        text-align: center;
      }
    }

    .right {
      float:right;
    }
  }

  &.apps {
    background: url(../assets/images/home/apps_bg.png) no-repeat scroll center center;
    background-size: auto 1024px;
    width: 100%;
    height: 1024px;
    padding: 105px 0 0;

    .intro-title {
      color: $gray-010;
      margin-bottom: 30px;
      &:after {
        content: none;
      }
    }

    .intro-description {
      color: $white;
      margin-bottom: 50px;
    }
  }

  &.clients {
    background-color: #101117;
    padding: 105px 0;

    .intro-title {
      color: $gray-010;
      margin-bottom: 80px;

      &:after {
        content: none;
      }
    }

    .section-title {
      font-size: 28px;
      color: $gray-010;
      margin-bottom: 40px;
      text-align: left;
      width: 100%;
    }

    .image {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


</style>
