<!--
@Author: Allen C <chenillen>
@Date:   2018-07-06T10:40:42+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2020-07-07T12:19:26+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->


<template>
<div class="produce">
  <div class="header-bg">
    <div class="container">
      <h2 class="produce-logo"></h2>
      <h3 class="slogan">量身定制的企制宣发解决方案</h3>
      <p class="description">累计完成<strong class="numeric">360+</strong>音乐项目，为音乐幕后人带来超过<strong class="numeric">4,000</strong>万元收入</p>
    </div>
  </div>
  <div class="intro service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h3 class="intro-title">{{serviceIntro.title}}</h3>
            <p class="intro-description">{{serviceIntro.description}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 list-card" v-for="(card, index) in serviceIntro.list" :key="card.index">
          <div class="card-container">
            <img :src="card.icon" class="list-card-icon">
            <h4 class="list-card-title">{{card.title}}</h4>
            <p class="list-card-desc">{{card.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro kase">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="center-column">
            <h3 class="intro-title">{{caseIntro.title}}</h3>
          </div>
        </div>
      </div>
      <ul class="row kase-menu-container">
        <li class="kase-menu-item col-3" v-for="kase in caseIntro.caseList" :key="kase.index" :class="caseIntro.currentList === kase.name ? 'current' : ''" @click.prevent="switchTab(kase.name)">
          <a href="#">{{kase.name}}</a>
        </li>
      </ul>
      <div class="cards-container" v-for="kase in caseIntro.caseList" :key="kase.index" v-if="caseIntro.currentList === kase.name">
        <div class="row">
          <a class="col-md-3 card" v-for="album in kase.list" :key="album.index" :href="album.link">
            <img :src="album.image" class="card-image" width="100%" height="auto">
            <p class="card-title">{{album.title}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ContactForm :formInfo="productionForm" />
</div>
</template>

<script>
import ContactForm from '../components/ContactForm.vue';

export default {
  name: 'produce',
  data() {
    return {
      serviceIntro: {
        title: '全程服务，注重细节',
        description: '长期服务于一线音乐产业客户，幕后圈为企业和艺人提供专业的音乐制作解决方案。幕后圈配备经验丰富的企划、制作、宣发团队为客户量身定制艺人定位、音乐制作及市场方案。',
        list: [
          {
            icon: require('../assets/images/produce/musician.png'),
            title: '海量幕后资源对接',
            description: '幕后圈是专业的音乐人聚集地，拥有超过20,000名音乐人资源，头部从业者超过2,000名，覆盖国内一、二线从业者资源。幕后圈可以快速帮助客户匹配国内任何想要的音乐制作资源。',
          },
          {
            icon: require('../assets/images/produce/propaganda.png'),
            title: '为作品宣发助力',
            description: '依托幕后圈自有宣发矩阵和其他合作媒体，幕后圈拥有业内垂直的音乐从业者群体，帮助客户的作品更快地直达圈内意见领袖，斩获乐坛声望。',
          },
        ],
      },
      caseIntro: {
        title: '成功案例',
        caseList: [
          {
            name: '唱片/单曲',
            list: [
              {
                image: require('../assets/images/produce/music/01.jpg'),
                title: '幕后圈独家签约制作人为2018年央视春晚压轴歌曲编曲',
                link: 'http://www.behinders.com/index.php/cases/detail/857cb9aa-9baf-11e8-bb4f-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/02.jpg'),
                title: '策划制作陈鸿宇新歌《多嘴》',
                link: 'http://www.behinders.com/index.php/cases/detail/274ea3ee-3ef2-11e8-aed4-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/03.jpg'),
                title: 'A.Love 中文单曲《傀儡》MV 上线，登陆华语红歌榜第3名！',
                link: 'http://www.behinders.com/index.php/cases/detail/3dd67fda-f058-11e7-98a2-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/04.jpg'),
                title: '策划制作00后新人A.Love推出首支单曲',
                link: 'http://www.behinders.com/index.php/cases/detail/92090ac4-f057-11e7-9901-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/05.jpg'),
                title: '参与鹿晗冠军单曲《敢 Roleplay》策划制作',
                link: 'http://www.behinders.com/index.php/cases/detail/6cd58378-3ba2-11e7-970d-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/06.jpg'),
                title: '策划制作黄礼格单曲《暖刺》',
                link: 'http://www.behinders.com/index.php/cases/detail/b87a444a-a718-11e6-9960-00163e003956',
              },
              {
                image: require('../assets/images/produce/music/07.jpg'),
                title: '策划制作王青迷你专辑《十二月》',
                link: 'http://www.behinders.com/index.php/cases/detail/c95fedaa-d18e-11e6-bb26-00163e003956',
              },
              {
                image: require('../assets/images/produce/music/08.jpg'),
                title: '幕后圈策划旅行团乐队完成英国 Abbey Road 录音之旅',
                link: 'http://www.behinders.com/index.php/cases/detail/99593ca2-e4b5-11e7-9bc1-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/09.jpg'),
                title: '幕后圈策划 Kawa 乐队 Abbey Road 录音单曲歌唱佤族之魂',
                link: 'http://www.behinders.com/index.php/cases/detail/0466275a-e4b4-11e7-a624-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/10.jpg'),
                title: '幕后圈策划Lu1赴 Abbey Road 打造嘻哈单曲',
                link: 'http://www.behinders.com/index.php/cases/detail/097a24ca-e4b5-11e7-a8ce-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/11.jpg'),
                title: '幕后圈策划为「偶像练习生」李让制作嘻哈单曲',
                link: 'http://www.behinders.com/index.php/cases/detail/b08c6aa2-3ef1-11e8-8202-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/12.jpg'),
                title: '豆瓣音乐人 X 幕后圈：《混出名堂 EP》',
                link: 'http://www.behinders.com/index.php/cases/detail/0d9c2106-a718-11e6-9441-00163e003956',
              },
              {
                image: require('../assets/images/produce/music/13.jpg'),
                title: '陌陌《非 WO 陌属》专辑发行，幕后圈包揽 TOP5 主播策划制作',
                link: 'http://www.behinders.com/index.php/cases/detail/78328eec-3ba1-11e7-abeb-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/14.jpg'),
                title: '策划制作YY金牌女艺人喊麦神曲',
                link: 'http://www.behinders.com/index.php/cases/detail/ef71f480-5248-11e7-be15-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/15.jpg'),
                title: '幕后圈与丝芭文化达成合作，为 SNH48 提供策划制作服务',
                link: 'http://www.behinders.com/index.php/cases/detail/1fdda1d2-a718-11e6-9192-00163e003956',
              },
              {
                image: require('../assets/images/produce/music/16.jpg'),
                title: '幕后圈参与 SNH48 姐妹团 CKG48 公演歌曲制作',
                link: 'http://www.behinders.com/index.php/cases/detail/4b28ec78-e4b3-11e7-a755-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/17.jpg'),
                title: '策划制作优我女团决战《直通春晚》中国风引爆全场',
                link: 'http://www.behinders.com/index.php/cases/detail/0224c234-3eec-11e8-8e1a-00163e004b51',
              },
              {
                image: require('../assets/images/produce/music/18.jpg'),
                title: '策划制作超级女声《超级唱片》',
                link: 'http://www.behinders.com/index.php/cases/detail/30e498d2-a718-11e6-86c5-00163e003956',
              },
              {
                image: require('../assets/images/produce/music/19.jpg'),
                title: '策划制作瑄瑄金曲《念君》',
                link: 'http://www.behinders.com/index.php/cases/detail/f88fe490-a718-11e6-8db8-00163e003956',
              },
              {
                image: require('../assets/images/produce/music/20.jpg'),
                title: '策划制作当红主播鳕熊《我们都变了》',
                link: 'http://www.behinders.com/index.php/cases/detail/119798b6-a719-11e6-8b09-00163e003956',
              },
            ],
          },
          {
            name: '影视歌曲',
            list: [
              {
                image: require('../assets/images/produce/film/21.jpg'),
                title: '幕后圈为电影《巨齿鲨》制作中文宣传曲',
                link: 'http://www.behinders.com/index.php/cases/detail/246099b8-9bb2-11e8-9b99-00163e004b51',
              },
              {
                image: require('../assets/images/produce/film/01.png'),
                title: '幕后圈助力华晨宇回归发新歌 电影《悟空传》主题曲《齐天》发布',
                link: 'http://www.behinders.com/index.php/cases/detail/cbcc4c6a-5248-11e7-9d4b-00163e004b51',
              },
              {
                image: require('../assets/images/produce/film/02.png'),
                title: '幕后圈策划制作青春剧《夏至未至》主题曲',
                link: 'http://www.behinders.com/index.php/cases/detail/8ebb2698-41c2-11e7-ba7a-00163e004b51',
              },
              {
                image: require('../assets/images/produce/film/03.png'),
                title: '策划制作大热网剧《热血长安》主题曲',
                link: 'http://www.behinders.com/index.php/cases/detail/bf549734-3ba1-11e7-9a33-00163e004b51',
              },
              {
                image: require('../assets/images/produce/film/04.png'),
                title: '幕后圈出镜新《射雕英雄传》，策划制作为热剧输送好作品',
                link: 'http://www.behinders.com/index.php/cases/detail/25f23e48-3ba1-11e7-84a9-00163e004b51',
              },
              {
                image: require('../assets/images/produce/film/05.png'),
                title: '策划制作纪录片《音乐的秘密》主题曲',
                link: 'http://www.behinders.com/index.php/cases/detail/e168a0f0-a717-11e6-bc13-00163e003956',
              },
              {
                image: require('../assets/images/produce/film/06.png'),
                title: '幕后圈策划制作院线电影《我的特工爷爷》预告片音乐制作',
                link: 'http://www.behinders.com/index.php/cases/detail/f4070008-a717-11e6-98d6-00163e003956',
              },
              {
                image: require('../assets/images/produce/film/07.png'),
                title: '幕后圈为年度大戏《如果可以这样爱》策划制作主题曲',
                link: 'http://www.behinders.com/index.php/cases/detail/3f5a9d8a-a718-11e6-b0bd-00163e003956',
              },
              {
                image: require('../assets/images/produce/film/08.png'),
                title: '热播网剧《废柴兄弟》配乐由幕后圈策划制作',
                link: 'http://www.behinders.com/index.php/cases/detail/9d6c0ea4-a718-11e6-ba80-00163e003956',
              },
              {
                image: require('../assets/images/produce/film/09.png'),
                title: '幕后圈策划制作金牌真人秀《咱们穿越吧》主题曲',
                link: 'http://www.behinders.com/index.php/cases/detail/87cfc428-a718-11e6-8eb7-00163e003956',
              },
            ],
          },
          {
            name: '活动音乐',
            list: [
              {
                image: require('../assets/images/produce/campaign/01.png'),
                title: '幕后圈策划制作东风雷诺120周年全球庆生宴音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/3fb98cc0-2681-11e8-9d51-00163e004b51',
              },
              {
                image: require('../assets/images/produce/campaign/02.png'),
                title: '幕后圈策划制作百度音乐人伴星计划所有音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/2b090532-3ba2-11e7-83ce-00163e004b51',
              },
              {
                image: require('../assets/images/produce/campaign/03.png'),
                title: '幕后圈策划制作大众汽车「新迈腾」发布会音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/ff37d3ec-a719-11e6-9883-00163e003956',
              },
              {
                image: require('../assets/images/produce/campaign/04.png'),
                title: '幕后圈策划制作北汽发布会现场音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/0ec3550c-a71a-11e6-8fae-00163e003956',
              },
              {
                image: require('../assets/images/produce/campaign/05.png'),
                title: '幕后圈策划制作央视《星光大道超级版》节目音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/1d1ae76e-a71a-11e6-8b3e-00163e003956',
              },
              {
                image: require('../assets/images/produce/campaign/06.png'),
                title: '幕后圈策划制作华为 Nova 手机发布会音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/298e4b8a-a71a-11e6-abc0-00163e003956',
              },
              {
                image: require('../assets/images/produce/campaign/07.png'),
                title: '雪铁龙 C6 上市发布会音乐获幕后圈策划制作支持',
                link: 'http://www.behinders.com/index.php/cases/detail/3c1d58fe-a71a-11e6-9cf6-00163e004b51',
              },
            ],
          },
          {
            name: '企业合作',
            list: [
              {
                image: require('../assets/images/produce/cooperation/22.jpg'),
                title: '幕后圈为谁说 APP 制作背景音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/88421656-9bc0-11e8-b66c-00163e004b51',
              },
              {
                image: require('../assets/images/produce/cooperation/23.jpg'),
                title: '幕后圈助力虾米探乐实验室，智能编曲帮你配乐',
                link: 'http://www.behinders.com/index.php/cases/detail/994198e6-9bc0-11e8-91f6-00163e004b51',
              },
              {
                image: require('../assets/images/produce/cooperation/01.png'),
                title: '幕后圈携手咪哒，为咪哒APP提供产品声音及背景音乐策划制作',
                link: '#',
              },
              {
                image: require('../assets/images/produce/cooperation/02.png'),
                title: '幕后圈为陌陌现场提供音乐策划制作服务',
                link: 'http://www.behinders.com/index.php/cases/detail/d52f28a8-a718-11e6-88fa-00163e003956',
              },
              {
                image: require('../assets/images/produce/cooperation/03.png'),
                title: '幕后圈为哈你APP策划制作背景音乐',
                link: 'http://www.behinders.com/index.php/cases/detail/dd8ddc14-e4b2-11e7-885f-00163e004b51',
              },
              {
                image: require('../assets/images/produce/cooperation/04.png'),
                title: '幕后圈策划制作，快本游戏主题曲《欢乐狼人杀》达人翻唱火爆',
                link: 'http://www.behinders.com/index.php/cases/detail/f88fd7b6-3ba1-11e7-b456-00163e004b51',
              },
            ],
          },
        ],
        currentList: '唱片/单曲',
      },
      productionForm: {
        title: '咨询幕后圈音乐制作',
        description: '幕后圈会尽快回复您的邮件',
        placeholder: {
          name: '怎么称呼您？',
          email: '您的邮箱地址是？',
          content: '请描述您的具体需求',
          button: '发送需求',
          telephone: '咨询电话：400-1338-400',
        },
      },
    };
  },
  components: { ContactForm },
  methods: {
    switchTab(listName) {
      this.caseIntro.currentList = listName;
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.produce {
  .header-bg {
    background: url("../assets/images/produce/header_bg.png") no-repeat center center;
    width: 100%;
    height: 1022px;
    background-size: auto 1022px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 115px;
  }

  .produce-logo {
    background: url("../assets/images/produce/produce_logo.png") no-repeat scroll;
    width: 539px;
    height: 76px;
    background-size: cover;
    margin:-200px auto 100px;
    @include text-hide();
  }

  .slogan {
    font-size: 32px;
    color: $white;
    text-align: center;
    font-weight: 300;
  }

  .description {
    font-size: 16px;
    color: $white;
    text-align: center;

    .numeric {
      font-size: 28px;
    }
  }

  .intro {
    &.service {
      .intro-title {
        color: #101322;
      }

      .intro-description {
        color: transparentize(#101322, 0.2);
        max-width: 75%;
      }

      .list-card {
        padding: 40px 60px;
        margin-bottom: 170px;
        .card-container {
          height: 336px;
          background-color: $white;
          padding: 40px 40px;
          box-shadow: 0 0 53px transparentize(#dedfea, 0.67);
          border-radius: 5px;

          .list-card-icon {
            margin-bottom: 30px;
          }

          .list-card-title {
            font-size: 22px;
            color: #3d3f48;
            margin-bottom: 15px;
            line-height: 1;
          }

          .list-card-desc {
            font-size: 14px;
            color: transparentize(#3d3f48, 0.2);
          }
        }
      }
    }

    &.kase {
      .kase-menu-container {
        margin: 0;
        padding: 0;
        margin-bottom: 60px;

        .kase-menu-item {
          font-size: 18px;
          margin-left: 0;
          list-style: none;
          float: left;
          text-align: center;
          padding: 10px 0;
          position: relative;

          &:after {
            content: "";
            background-color: transparentize(#101322, 0.8);
            height: 2px;
            width: 100%;
            bottom: -2px;
            left: 0;
            display: block;
            position: absolute;
          }

          a {
            display: block;
            color: transparentize(#101322, 0.1);

            &:hover {
              text-decoration: none;
            }
          }

          &:hover, &.current {
            &:after {
              @include gradient-directional($purple, $magenta);
            }
          }
        }
      }

      .card {
        margin-bottom: 60px;

        &:hover {
          text-decoration: none;
        }

        .card-image {
          margin-bottom: 20px;
          border-radius: 5px;

          &:hover {
            box-shadow: 0 2px 6px transparentize(#62697c, 0.84);
          }
        }

        .card-title {
          font-size: 14px;
          text-align: center;
          color: $gray-600;
          height: 42px;
        }
      }
    }
  }
}
</style>
