<!--
@Author: Allen C <chenillen>
@Date:   2018-08-20T11:27:34+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-20T12:14:49+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->
<template>
<div class="intro contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="intro-title">{{formInfo.title}}</h3>
        <p class="intro-description">{{formInfo.description}}</p>
        <form class="" action="" method="post">
          <input class="form-input" type="text" name="name" :placeholder="formInfo.placeholder.name">
          <input class="form-input" type="email" name="email" :placeholder="formInfo.placeholder.email">
          <textarea class="form-textarea" name="content" cols="40" :placeholder="formInfo.placeholder.content"></textarea>
          <button class="btn outline" type="button" name="button">{{formInfo.placeholder.button}}</button>
          <p class="contact">{{formInfo.placeholder.telephone}}</p>
        </form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'contactForm',
  props: {
    formInfo: Object,
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";
@import "../assets/scss/mixins";


.intro {
  &.contact-form {
    background: url("../assets/images/home/apps_bg.png") no-repeat scroll center center;
    background-size: auto 1024px;
    height: 1024px;
    width: 100%;
    padding: 105px 0;

    .intro-title, .intro-description {
      color: $white;
      text-align: center;
    }

    .intro-title {
      margin-bottom: 20px;

      &:after {
        content: none;
      }
    }

    .intro-description {
      margin-bottom: 90px;
    }

    .form-input {
      outline: none;
      border: none;
      border-bottom: 1px solid transparentize($white, 0.4);
      display: block;
      width: 100%;
      height: 60px;
      background: transparent;
      margin-bottom: 80px;
      color: transparentize($white, 0.4);
      padding: 0 10px;
    }

    .form-textarea {
      border: 1px solid transparentize($white, 0.4);
      color: transparentize($white, 0.4);
      outline: none;
      background: transparent;
      display: block;
      width: 100%;
      height: 200px;
      padding: 10px;
      margin-bottom: 80px;
    }

    .btn {
      display: block;
      margin: 0 auto 20px;
    }

    .contact {
      color: transparentize($white, 0.4);
      text-align: center;
      font-size: 14px;
    }
  }
}
</style>
