<!--
@Author: Allen C <chenillen>
@Date:   2018-08-07T18:17:00+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-07T18:32:12+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->
<template>
<div class="intro director" :class="{fluid}">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/images/edu/camp/teacher.jpg" alt="" class="director-image">
      </div>
      <div class="col-md-8 director-content">
        <h4 class="director-name">主讲导师-丁漫江</h4>
        <div class="director-tags">
          <span class="tag">知名录音师</span>
          <span class="tag">音响师</span>
          <span class="tag">混音师</span>
        </div>
        <p class="director-description">丁漫江是中国著名的录音师、混音师、音响师，品懿春秋音响总监，是中国最早投入于音乐录音系统教学的开拓者，在北京现代音乐学院有近20年的从教经验。丁漫江与众多华语乐坛一流的音乐人合作，参与过各类大型演唱会及演出的调音工作，是中国最具备音响实战经验及理论知识的教育者。丁老师曾与蔡依林、沙宝亮、老狼等诸多华语乐坛一线音乐人合作，参与过各类大型演唱会及热门节目的现场调音、混音工作，对音频处理有着前沿的经验及知识结构。</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Ding',
  props: {
    fluid: Boolean,
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";
@import "../assets/scss/mixins";
.intro {
  &.director {
    color: $white;
    margin-bottom: 106px;

    &.fluid {
      background-color: #0F1321;
    }

    .row {
      background-color: #0F1321;
      border-radius: 18px;

      > .col,
      > [class*="col-"] {
        padding-left: 0;
      }
    }

    .director-image {
      border-radius: 18px 0 0 18px;
    }

    .director-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    .director-name {
      font-size: 42px;
    }

    .director-tags {
      display: flex;
      margin-bottom: 50px;

      .tag {
        height: 35px;
        color: $white;
        font-size: 16px;
        text-align: center;
        line-height: 35px;
        padding: 0 30px;
        @include gradient-directional($purple, $magenta);
        border-radius: 35px;
        margin-right: 16px;
      }
    }

    .director-description {
      font-size: 16px;
      color: transparentize($white, 0.2);
    }
  }
}
</style>
