<!--
@Author: Allen C <chenillen>
@Date:   2018-07-10T21:21:14+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2020-03-16T17:26:45+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->
<template>
<div class="navigation-bar" :class="{scrolled}">
  <div class="container">
    <div class="navigation-container">
      <div class="navigation">
        <div class="logo"></div>
        <h1 class="site-name">幕后圈</h1>
        <a href="#" class="nav-toggler" @click.prevent="toggleNav"><img src="../assets/images/menu_toggler.svg"></img></a>
        <nav class="nav" :class="{open: navOpen}">
          <li v-for="nav of navItems" :key="nav.id" class="nav-item">
            <router-link :to="{ name: nav.id }" class="nav-item-link" v-if="nav.type === 'nav'">{{nav.name}}</router-link>
            <a :href="nav.linkTo" target="_blank" class="nav-item-link" v-else>{{nav.name}}</a>
            <a href="#" class="nav-item-link" v-else @mouseover.prevent="toggleNestedNav(nav.id)">{{nav.name}}</a>
            <ul v-if="nav.children" class="nest-nav" :class="{open: nav.nestedOpen}" @mouseleave.prevent="toggleNestedNav(nav.id)">
              <li v-for="nestedNav in nav.children" :key="nestedNav.id" class="nav-item">
                <router-link :to="{ name: nestedNav.id }" class="nav-item-link">
                  {{nestedNav.name}}
                </router-link>
              </li>
            </ul>
          </li>
        </nav>
      </div>
      <button type="button" name="upload" class="btn outline upload" @click="goToOldVersion">上传 DEMO</button>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Navigation',
  props: {
    scrolled: Boolean,
  },

  data() {
    return {
      navItems: [
        {
          id: 'home',
          name: '首页',
          type: 'nav',
        },
        {
          id: 'apps',
          name: 'APP',
          type: 'nav',
        },
        {
          id: 'produce',
          name: '音乐制作',
          type: 'nav',
        },
        {
          id: 'copyright',
          name: '版权代理',
          type: 'nav',
        },
        {
          id: 'education',
          name: '幕后圈课堂',
          type: 'link',
          linkTo: 'https://edu.behinders.com/'
        },
      ],
      navOpen: false,
    };
  },

  methods: {
    toggleNav() {
      this.navOpen = !this.navOpen;
    },
    toggleNestedNav(navId) {
      this.navItems.filter((nav) => {
        if (nav.id === navId) {
          nav.nestedOpen = !nav.nestedOpen;
        }
      });

      return false;
    },

    goToOldVersion() {
      window.location.href = 'https://jinshuju.net/f/dC5tde';
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.navigation-bar {
    width: 100%;
    height: 68px;
    background-color: transparent;
    transition: 400ms background-color ease-out;
    position: fixed;
    z-index: 1090;

    &:hover, &.scrolled {
        background-color: $gray-800;
        transition: 400ms background-color ease-in;
    }

    .navigation-container {
        width: 100%;
        height: 68px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        height: 68px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .logo {
            background: url("../assets/images/home_logo.png") scroll no-repeat center center;
            width: 35px;
            height: 35px;
            background-size: cover;
            float: left;
            margin-right: 64px;
        }

        .site-name {
          display: none;
        }

        .nav-toggler {
          display: none;
        }

        .nav {
            display: flex;
            flex-flow: row nowrap;

            .nav-item {
                display: inline-block;
                list-style: none;
                margin-right: 48px;
                font-size: 18px;
                font-weight: 300;

                &:last-child {
                    margin-right: 0;
                }

                .nav-item-link {
                    color: $white;

                    &:active,
                    &:hover {
                        text-decoration: none;
                    }

                    &.active {
                        color: $primary;
                    }
                }

                .nest-nav {
                    display: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    width: 218px;
                    margin-left: -20px;
                    top: 68px;
                    border-radius: 0 0 5px 5px;
                    overflow: hidden;

                    &.open {
                        display: block;
                    }

                    .nav-item {
                        display: block;
                        height: 50px;
                        padding: 0 20px;
                        font-size: 16px;
                        line-height: 50px;
                        background-color: $gray-800;
                        margin: 0;

                        .nav-item-link {
                            color: $white;
                        }

                        &:active,
                        &:hover {
                            background-color: $gray-700;

                            .nav-item-link {
                                color: transparentize($white, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }

}

@include media-breakpoint-down(sm) {
  .navigation-bar {
      height: 56px;
      .navigation-container {
        height: 56px;

        .navigation {
          width: 100%;
          height: 56px;
          justify-content: space-between;
          position: relative;

          .logo {
            width: 28px;
            height: 28px;
            margin: 0;
          }

          .site-name {
            font-size: 20px;
            color: $white;
            display: inline-block;
            line-height: 56px;
            margin-bottom: 0;
          }

          .nav-toggler {
            display: block;
          }

          .nav {
            display: none;
            position: absolute;
            bottom: -400px;
            right: -15px;
            width: auto;
            height: 400px;
            flex-flow: column;

            &.open {
              display: block;
            }

            .nav-item {
              display: block;
              margin: 0;
              text-align: right;
              background-color: $gray-800;
              padding: 12px 30px;

              .nest-nav {
                top: 0;
                left: -180px;
                .nav-item {
                  background-color: transparentize($gray-800, 0.05);
                }
              }
            }
          }
        }

        .btn.outline.upload {
          display: none;
        }
      }
  }
}
</style>
