<!--
@Author: Allen C <chenillen>
@Date:   2018-07-10T23:55:03+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-08-08T01:22:32+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->
<template>
<footer class="footer">
  <div class="container">
    <div class="footer-content row">
      <div class="col">
        <p class="heading"><router-link :to="{ name: 'about' }">关于我们</router-link></p>
        <p class="heading"><router-link :to="{ name: 'contact' }">联系我们</router-link></p>
        <p class="heading"><a href="https://blog.behinders.com" target="_blank">幕后圈 Blog</a></p>
      </div>
      <div class="col">
        <p class="heading">咨询电话：<a herf="tel:400-1338-400">400-1338-400</a></p>
        <p class="heading">邮箱：<a href="mailto:hi@behinders.com">hi@behinders.com</a></p>
        <p class="heading">微博：<a href="https://weibo.com/behinders" target="_blank">@幕后圈</a>&nbsp;<a href="https://weibo.com/u/6415044688" target="_blank">@幕后圈课堂</a></p>
      </div>
      <div class="col qr">
        <div class="qr-container">
          <img src="../assets/images/qr_muhouquan.jpg" alt="幕后圈公众号" width="110">
          <p>幕后圈</p>
        </div>
        <div class="qr-container">
          <img src="../assets/images/qr_ketang.jpg" alt="幕后圈课堂公众号" width="110">
          <p>幕后圈课堂</p>
        </div>
      </div>
    </div>
    <p class="copyright">北京音控文化传播有限公司 &copy;2021 <a href="http://beian.miit.gov.cn" target="_blank">京ICP备13051815号-2</a></p>
  </div>

</footer>
</template>

<script>
export default {
  name: 'PageFooter',
};
</script>

<style lang="scss">
@import "../assets/scss/variables";

.footer {
  width: 100%;
  background-color: $gray-900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 105px 0;

  .footer-content {
    margin-bottom: 20px;
  }

  .heading {
    font-size: 16px;
    color: transparentize($gray-400, 0.54);

    > a {
      color: transparentize($gray-400, 0.54);

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }

  .qr {
    display: flex;
    .qr-container {
      margin-right: 80px;
      > img {
        margin-bottom: 20px;
      }
      > p {
        font-size: 16px;
        color: #b9b9b9;
        text-align: center;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .copyright {
    display: block;
    width: 100%;
    text-align: center;
    color: transparentize($gray-400, 0.54);
    font-size: 14px;
  }
}
</style>
