<!--
@Author: Allen C <chenillen>
@Date:   2018-07-06T10:40:42+08:00
@Email:  chenillen@gmail.com
@Last modified by:   chenillen
@Last modified time: 2018-07-31T02:39:52+08:00
@Copyright: Copyright (c) 2018 by Allen C.(@chenillen). All Rights Reserved.
-->


<template>
<div id="app">
  <Navigation :scrolled="scrolled" />
  <router-view />
  <PageFooter />
</div>
</template>
<script>
import Navigation from './components/Navigation.vue';
import PageFooter from './components/PageFooter.vue';

export default {
  name: 'resonant',
  data() {
    return {
      scrolled: false,
    };
  },
  components: {
    Navigation,
    PageFooter,
  },
  methods: {
    handleScroll() {
      if (this.$el.childNodes[1].className && this.$el.childNodes[1].className === 'about') {
        this.scrolled = true;
        return;
      }

      this.scrolled = window.scrollY > 0;
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>
<style lang="scss">
@import "./assets/application";
</style>
